.service-welcomesection__link.abus {
    width: auto;
    display: inline-block;
    min-height: initial;
    padding: 22px 44px;
}

.text-center {
    text-align: center;
}

.service-welcomesection.abus {
    .service-welcomesection__ratedsection {
        padding-bottom: 20px;
    }
}
// -----------------------------
.gridbg {
    position: relative;
  
    &::after {
        content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/grain.png),url(../images/grid.png);
    background-repeat: no-repeat,no-repeat;
    background-size: 100% 100%,100% auto;
    background-position: 0 0,0 -1px;
    z-index: 1;
    }
}
.abussectitle {
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    color: #fff;
    font-family: "Montserrat",sans-serif;
}
.abuswhoweare {
    padding: 200px 0 20px;
    
    h2 {
        margin-bottom: 70px;
    }
}

.wwabox {
    max-width: 1290px;
    margin: 0 auto;
    padding: 94px 78px;
    background: rgba(15, 15, 16, 0.9);
    border: 1px solid rgba(140, 255, 172, 0.2);
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.46);
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .wwabox__descr {
        width: 100%;
        max-width: calc(100% - 196px);
        flex: 0 0 calc(100% - 196px);
        padding-right: 54px;

        p {
            font-weight: 500;
            font-size: 22px;
            line-height: 200%;
            color: #fff;
            font-family: "Montserrat",sans-serif;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                background: linear-gradient(125.34deg,#CDFF7C 14.35%,#8CFFAC 54.63%,#93FFEB 101.27%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .wwabox__img {
        width: 100%;
        max-width: 196px;
        flex: 0 0 196px;
    }
}

// -----------------------------

.abusdev {
    padding: 200px 0 230px;

    h2 {
        margin-bottom: 129px;
    }
}

.devsuccess {
    display: flex;
    justify-content: space-between;
    max-width: 1225px;
    margin: 0 auto;
}

.devsuccess__box {
    width: calc(50% - 42px);
}

.devsuccess__box-list {
    padding: 50px 50px 85px 50px;
    background: #141415;
    border: 0.5px solid;
    border-image-slice: 0.5;
    border-width: 0.5px;
    border-image-source: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
    border-bottom: none;

    .title {
        margin-bottom: 24px;
        color: #fff;
        letter-spacing: 0.02em;
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        font-family: "Montserrat",sans-serif;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;

        li {
            color: #fff;
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            font-family: "Montserrat",sans-serif;
            display: block;
            padding-bottom: 20px;
            position: relative;
            padding-left: 25px;

            &:last-child {
                margin-bottom: 0;

                &::before {
                    display: none;
                }
            }

            &::after {
                content: '';
                display: inline-block;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
                position: absolute;
                left: 0;
                top: 6px;
            }

            &::before {
                content: '';
                width: 2px;
                height: calc(100%);
                background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
                opacity: 0.5;
                position: absolute;
                left: 5px;
                top: 8px;
            }
        }
    }
}

.devsuccess__box-link {
    a {
        height: 67px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        transition: 0.3s;
        background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
        color: #0F0F10;
        letter-spacing: 0.02em;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        font-family: "Montserrat",sans-serif;

        &:hover {
            box-shadow: 0px 8px 20px rgb(67 253 130 / 25%), 0px 26px 50px #2f463a;
        }
    }
}

.devsuccess__box.lightgreen {

    .devsuccess__box-list {
        border-image-source: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
    }
    
    .devsuccess__box-list ul li:after {
        background: #C9FA3D;
    }

    .devsuccess__box-link a {
        background: #C9FA3D;
    }
}

// -----------------------------

.abustechstack {
    padding: 120px 0 70px;
    h2 {
        margin-bottom: 0;
    }

    .titdescrcol {
        margin-bottom: 194px;
    }
}

.abustechstack__descr {
    max-width: 690px;
    margin: 0 auto;

    p {
        font-weight: 500;
        font-size: 22px;
        line-height: 200%;
        color: #fff;
        font-family: "Montserrat",sans-serif;

        &:last-child {
            margin-bottom: 0;
        }

        span {
            background: linear-gradient(125.34deg,#CDFF7C 14.35%,#8CFFAC 54.63%,#93FFEB 101.27%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.abustechstack__descr {
    padding-top: 75px;
}

.titdescrcol {
    .abustechstack__title {
        width: 100%;
        max-width: 64%;
        flex: 0 0 64%;
    }
    .abustechstack__descr {
        width: 100%;
        max-width: 36%;
        flex: 0 0 36%;
    }
}

.abustechstack  {
    h2 {
        font-size: 72px;
        line-height: 130%;
    }
}

.chartwrapper {
    display: flex;
    align-items: center;
    max-width: 1002px;
    margin: 0 auto;
}

.chartwrapper__lables {
    width: 100%;
    max-width: 42%;
    flex: 0 0 42%;

    ol {
        li {
            color: #F8F8F8;
            font-weight: 800;
            font-size: 24px;
            font-family: "Montserrat",sans-serif;
            margin-bottom: 27px;
            padding-left: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                font-weight: 400;
                position: relative;
                display: inline-block;

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    bottom: -10px;
                    position: absolute;
                    left: 0;
                }
            }

            &.labgreen span::after {
                background: #E1FC31;
            }
            &.labblue span::after {
                background: #04A5FF;
            }
            &.labpink span::after {
                background: #FF5A91;
            }
            &.labviolet span::after {
                background: #CA59FF;
            }
            &.labyellow span::after {
                background: #FFF500;
            }
        }

    }
}

.chartwrapper__img {
    width: 100%;
    max-width: 58%;
    flex: 0 0 58%;

    img {
        width: 100%;
    }
}

.abusslwrap {
    position: relative;
    z-index: 3;
}

.service-workin.abus {
    padding-bottom: 0;
}

.dropusanote {
    padding: 180px 0 110px;
    overflow: hidden;
}

.dropusanotesect {
    max-width: 1492px;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    border: 1px solid rgba(140,255,172,0.2);
    box-shadow: 0px 4px 11px rgb(0 0 0 / 46%);
    border-radius: 24px;
    position: relative;
    padding: 154px 120px 90px 120px;
}

.dropusanotesect {
    display: flex;
    flex-wrap: wrap;
}

.dropusanotesect__content {
    width: 100%;
    max-width: 70%;
    flex: 0 0 70%;
    font-family: "Montserrat",sans-serif;

    h2 {
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 72px;
        line-height: 120%;
        color: #fff;
    }

    .descr {
        max-width: 750px;
        p {
            font-weight: 400;
            font-size: 24px;
            line-height: 175%;
            color: #fff;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.dropusanotesect__pic {
    width: 100%;
    max-width: 30%;
    flex: 0 0 30%;
    position: relative;

    img {
        position: absolute;
        top: -150px;
        left: 30px;
    }
}

.dropusanotelink {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    margin-top: 90px;
    text-align: center;

    a {
        text-decoration: none;
        transition: 0.3s;
        font-style: italic;
        font-weight: 500;
        font-size: 72px;
        line-height: 114%;
        color: #fff;
        font-family: "Montserrat",sans-serif;

        span {
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                display: inline-block;
                height: 2px;
                width: 0;
                position: absolute;
                left: 0;
                bottom: -5px;
                background: #fff;
                transition: 0.3s;
            }
        }

        img {
            vertical-align: middle;
            margin-top: -5px;
        }

        &:hover {
            // color: #C9FA3D;

            span {
                &::after {
                    width: 100%;
                }
            }
            
            img {
                animation: footlink 1s infinite;
                -webkit-animation: footlink 1s infinite;
            }
        }
    }
}

@keyframes footlink{
    0%{
        -webkit-transform:translate(0,0);transform:translate(0,0)
    }
    70%{
        -webkit-transform:translate(15px,-15px);transform:translate(15px,-15px)
    }
    100% {
        -webkit-transform:translate(0,0);transform:translate(0,0)
    }
}





.servtestim__header-right.mob {
    display: none;
}

.service-testimonials .testimonialslider-abus .slick-slide {
    padding: 0 20px;
}

.dropusanotelink a img {
    transition: 0.5s;
}

.styles_create_container__1i8iu .styles_home_content__1lxu3 {
    padding-top: 100px;
}

.styles_hovered_block_wrapper__bzIr2 {
    z-index: 1;
}








@media(max-width:1600.8px) {

    .abuswhoweare {
        padding: 120px 0 20px;
    }

    .devsuccess {
        max-width: 1000px;
    }

    .devsuccess__box-list {
        padding: 40px 40px 45px 40px;
    }

    .abusdev {
        padding: 150px 0;
    }

    .abustechstack__descr {
        padding-top: 55px;
    }

    .abustechstack .titdescrcol {
        margin-bottom: 100px;
    }

    .chartwrapper {
        max-width: 900px;
    }

    .dropusanotesect__content {
        max-width: 60%;
        flex: 0 0 60%;
    }

    .dropusanotesect__pic {
        max-width: 40%;
        flex: 0 0 40%;
    }

    .dropusanotesect__pic img {
        width: 500px;
        top: -110px;
    }

    .dropusanotesect {
        padding: 120px 80px 70px 80px;
    }

    .dropusanotelink a {
        font-size: 52px;
    }

    .dropusanotelink {
        margin-top: 70px;
    }





    .devsuccess__box-list ul li {
        font-size: 16px;
    }

    .wwabox .wwabox__descr p,
    .abustechstack__descr p,
    .dropusanotesect__content .descr p {
        font-size: 20px;
    }
    .chartwrapper__lables ol li {
        font-size: 21px;
    }
    .abussectitle,
    .abustechstack h2,
    .dropusanotesect__content h2 {
        font-size: 60px;
    }

    
}

@media(max-width:1400.8px) {

    .abustechstack {
        padding: 100px 0 50px;
    }

    .abustechstack .titdescrcol {
        margin-bottom: 60px;
    }

    .dropusanote {
        padding: 120px 0 110px;
    }

    .dropusanotelink a {
        font-size: 42px;

        img {
            width: 100px;
        }
    }




    .abussectitle, .abustechstack h2, .dropusanotesect__content h2 {
        font-size: 48px;
    }
}

@media(max-width:1199.8px) {
    .wwabox {
        padding: 60px;
    }

    .wwabox .wwabox__descr,
    .wwabox .wwabox__img {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .wwabox .wwabox__img {
        order: 1;
        text-align: center;
        img {
            max-width: 140px;
        }
    }

    .wwabox .wwabox__descr {
        order: 2;
        padding-right: 0;
    }

    .dropusanotesect {
        padding: 70px 50px 40px 50px;
    }

    .dropusanotesect__pic img {
        width: 400px;
        top: -20px;
    }

    .dropusanotelink a {
        font-size: 36px;

        img {
            width: 70px;
        }
    }

    .dropusanotelink {
        margin-top: 50px;
    }

    .styles_create_container__1i8iu .styles_home_content__1lxu3 {
        padding-top: 70px;
    }





    .abustechstack__descr p, .dropusanotesect__content .descr p, .wwabox .wwabox__descr p {
        font-size: 18px;
    }

}

@media(max-width:991.8px) {

    .abuswhoweare,
    .abusdev {
        padding: 80px 0;
    }

    .wwabox {
        padding: 40px;
    }

    .abusdev h2 {
        margin-bottom: 70px;
    }

    .devsuccess__box {
        width: 100%;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .devsuccess {
        flex-wrap: wrap;
    }

    .titdescrcol .abustechstack__title,
    .titdescrcol .abustechstack__descr {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .abustechstack__descr {
        padding-top: 35px;
    }

    .abustechstack .titdescrcol {
        margin-bottom: 30px;
    }

    .dropusanotesect__pic img {
        position: relative;
        max-width: 100%;
        top: initial;
        width: 300px;
    }

    .dropusanotesect__pic {
        order: 1;
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    .dropusanotesect__content {
        order: 2;
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    .dropusanotelink {
        order: 3;
    }

    .dropusanotesect {
        padding: 40px 40px 40px 40px;
    }

    .dropusanotesect__content h2 {
        margin-bottom: 25px;
    }

    .dropusanotelink {
        margin-top: 30px;
    }

    @keyframes footlink{
        0%{
            -webkit-transform:translate(0,0);transform:translate(0,0)
        }
        70%{
            -webkit-transform:translate(10px,-10px);transform:translate(10px,-10px)
        }
        100% {
            -webkit-transform:translate(0,0);transform:translate(0,0)
        }
    }
    
    .styles_create_container__1i8iu .styles_home_content__1lxu3 {
        padding-top: 50px;
    }






    .abussectitle, .abustechstack h2, .dropusanotesect__content h2 {
        font-size: 42px;
    }
}



@media(max-width:575.8px) {

    .abusdev, .abuswhoweare,
    .abustechstack {
        padding: 40px 0;
    }

    .wwabox .wwabox__img {
        text-align: left;
        margin-bottom: 8px;

        img {
            width: 77px;
        }
    }

    .wwabox {
        border-radius: 0;
        padding: 24px 15px;
    }

    .wwabox .wwabox__descr p {
        font-size: 16px;
        line-height: 180%;
    }

    .abusdev h2 {
        margin-bottom: 48px;
    }

    .devsuccess__box-list {
        padding: 25px 20px 34px 20px;
    }

    .titdescrcol .abustechstack__descr, .titdescrcol .abustechstack__title {
        padding-left: 15px;
        padding-right: 15px;
    }

    .abustechstack__descr {
        text-align: center;

        p {
            font-size: 14px;
            line-height: 160%;
        }
    }

    .chartwrapper__lables,
    .chartwrapper__img {
        max-width: 100%;
        flex:  0 0 100%;
    }

    .chartwrapper {
        flex-wrap: wrap;
    }

    .chartwrapper__lables {
        padding: 0 20px;

        ol {
            padding-left: 20px;

            li {
                padding-left: 6px;

                span {
                    font-size: 24px;
                    line-height: 157.5%;
                }
            }
        }
    }

    .chartwrapper__lables ol li span:after {
        bottom: -4px;
    }

    .service-testimonials.abus .servtestim__header-right.mob {
        display: block;
        margin-top: 32px;
        text-align: center;
    }

    .servtestim__header-right.mob a {
        text-align: center;
        letter-spacing: 0.02em;
        color: #C9FA3D;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        background: #0F0F10;
        border: 1px solid;
        border-image-slice: 1;
        border-width: 1px;
        border-image-source: linear-gradient(77.09deg,#cdff7c 28.29%,#8cffac 87.22%);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 56px;
        padding: 5px 44px;
        transition: 0.3s;
        width: 100%;
        max-width: 412px;
        margin: 0 auto;
    }

    .service-testimonials.abus {
        .servtestim__header-right {
            display: none;
        }
    }
    
    .service-testimonials .testimonialslider-abus .slick-slide {
        width: calc(100% - 2px) !important;
        padding: 0;
    }

    .service-testimonials .testimonialslider-abus .testimonialslide {
        padding: 40px 15px 24px 15px;
        margin-bottom: 15px;
    }

    .dropusanotesect {
        border-radius: 0;
        padding: 0 6px 35px 6px;
    }

    .dropusanotesect__pic img {
        width: 220px;
    }

    .dropusanotesect__content h2 {
        font-size: 30px;
        margin-bottom: 16px;
    }

    .dropusanotesect__content .descr p {
        font-size: 14px;
    }

    .dropusanotelink a {
        font-size: 24px;
    }

    .dropusanotelink a img {
        width: 40px;
    }

    .dropusanote {
        padding-bottom: 24px;
        padding-top: 40px;
    }

    .styles_create_container__1i8iu .styles_home_content__1lxu3 {
        padding-top: 0;
    }




    .abuswhoweare h2 {
        margin-bottom: 32px;
    }

    .abussectitle, .abustechstack h2 {
        font-size: 32px;
    }
}















// font-family: "Montserrat",sans-serif;