@font-face {
    font-family: Modernist;
    src: url('../fonts/Sk-Modernist-Regular.e68f85ab30926114d85000538a0ee790.otf');
    font-display: swap;
}

@font-face {
    font-family: Sk-Modernist;
    src: url('../fonts/Sk-Modernist-Regular.e68f85ab30926114d85000538a0ee790.otf');
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    &.bodyblack {
        background: #000;
    }
}

.service-container {
    max-width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0 auto;
}

.serviserow {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.service__col-6 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 50%;
    flex: 0 0 50%;
}

.service-container {
    position: relative;
    z-index: 2;
}

.section-subtitle {
    background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

body.noscroll {
    overflow: hidden;
}

main {
    padding-top: 96px;
}


// ФІКС
.service-whatwedo .devservices:after {
    bottom: -280px;
}

@media(max-width:1700.8px) {
    .service-whatwedo .devservices:after {
        bottom: -280px;
    }
}

@media(max-width:1600.8px) {
    .service-whatwedo .devservices:after {
        bottom: -200px;
    }
}

@media(max-width:991.8px) {
    .service-whatwedo .devservices:after {
        width: 200px;
        height: 110px;
        bottom: -120px;
    }

    .service-whatwedo {
        padding-bottom: 140px;
    }
}

@media(max-width:767.8px) {
    .service-whatwedo .devservices:after {
        bottom: -50px;
    }

    .service-whatwedo {
        padding-bottom: 80px;
    }
}

.rowblock {
    display: flex;
    flex-wrap: wrap;
}