header.header {
    height: 96px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1002;


    &.header__black {
        background: #000000;
        box-shadow: 0px 1px 0px rgba(201, 250, 61, 0.29);
    }

    .header__logo {
        width: 100%;
        max-width: 165px;
        flex: 0 0 165px;

        img {
            max-width: 100%;
        }
    }

    .header__nav {
        width: 100%;
        max-width: calc(100% - 330px);
        flex: 0 0 calc(100% - 330px);

        ul.header__menu {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: center;

            &>li {
                display: inline-block;
                vertical-align: middle;
                color: #fff;
                letter-spacing: 0.05em;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                margin: 0 14px;
                position: relative;
                cursor: pointer;
                padding: 20px 0;

                &>a {
                    color: #fff;
                    letter-spacing: 0.05em;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 150%;
                    position: relative;
                    z-index: 1;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    width: 130px;
                    height: 54px;
                    background: url('../images/menu-hover.png');
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    opacity: 0;
                    transition: 0.5s;
                    background-size: 100% 100%;
                }

                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }

                .submenu {
                    position: absolute;
                    top: 65px;
                    width: 460px;
                    background: #fff;
                    padding: 32px 24px;
                    left: 50%;
                    transform: translate(-50%, -10px);
                    opacity: 0;
                    z-index: -1;
                    visibility: hidden;
                    transition: 0.5s;
                    list-style-type: none;

                    li {
                        a {
                            display: flex;
                            padding: 16px;
                            background: #fff;
                            color: #0F0F10;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 140%;
                            text-align: left;
                            transition: 0.3s;
                            min-height: 68px;
                            align-items: center;

                            img {
                                width: 100%;
                                max-width: 24px;
                                flex: 0 0 24px;
                                margin-right: 20px;
                            }

                            &:hover {
                                background: rgba(#1E1E1E, 0.05);
                            }
                        }
                    }

                    &::after {
                        content: '';
                        width: 24px;
                        height: 24px;
                        background: url('../images/menuarrow.svg') no-repeat top center / 100% 100%;
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        display: block;
                        top: -12px;
                    }
                }

                &.sublink {
                    &:hover {
                        .submenu {
                            opacity: 1;
                            z-index: 3;
                            visibility: visible;
                            transform: translate(-50%, 0);
                        }
                    }
                }

            }
        }


    }

    .header__chat {
        width: 100%;
        max-width: 165px;
        flex: 0 0 165px;
        text-align: right;

        span {
            color: #fff;
            letter-spacing: 0.05em;
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            display: inline-block;
        }

        svg {
            vertical-align: middle;
            margin-top: -2px;
        }

        a {
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                display: inline-block;
                width: 144px;
                height: 59px;
                background: url('../images/menu-hover-big.png');
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 50%;
                opacity: 0;
                transition: 0.5s;
            }

            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
    }




}

.header__burger {
    display: none;
}

.mobletschat {
    display: none;
}


header.header.header__white {
    background: #fff;

    .header__logo {
        filter: invert(1);
    }

    .header__nav ul.header__menu>li {
        color: #212121;

        a {
            color: #212121;
        }

    }

    .header__chat {
        span {
            color: #212121;
        }

        svg {
            path {
                stroke: #212121;
            }
        }
    }

    .header__burger span {
        background: #212121;
    }
}

header.header.header__blackcolor {
    background: #000000 !important;
}

header.header.header__blackcolor .header__burger span {
    background: #fff !important;
}

header.header.header__blackcolor .header__logo {
    filter: invert(0) !important;
}

a,
li,
ul,
div {
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}

// 06.05
// .header__message {
//     height: 104px;
//     background: #3663D8;
//     position: relative;
//     padding: 0 40px;
//     display: flex;
//     align-items: center;
//     z-index: 1002;

//     p {
//         font-weight: 700;
//         font-size: 40px;
//         line-height: 140%;
//         color: #fff;
//         font-family: "Montserrat", sans-serif;
//         text-transform: uppercase;
//         display: flex;
//         align-items: center;

//         img {
//             display: inline-block;
//             vertical-align: middle;
//             margin: -7px 20px 0 20px;
//             width: 48px;
//         }

//         a {
//             position: relative;
//             display: inline-block;
//             font-weight: 400;
//             font-size: 14px;
//             line-height: 140%;
//             text-transform: initial;
//             margin-left: 24px;
//             text-decoration: underline;

//             &:hover {
//                 text-decoration: none;
//             }

//             &::before {
//                 content: '';
//                 display: inline-block;
//                 height: 1px;
//                 width: 77px;
//                 background: #fff;
//                 margin-right: 15px;
//                 vertical-align: middle;
//             }
//         }
//     }
    
// }

.supua {
    height: 40px;
    background: #3663D8;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    transition: 0.3s;

    p {
        margin: 0;
        display: flex;
        align-items: center;

        img {
            max-width: 42px;
            margin: 0 20px;
        }

        span.ltext {
            font-size: 12px;
            line-height: 15px;
            font-family: 'Montserrat', sans-serif;
            position: relative;
            display: flex;
            align-items: center;
            margin: 0 20px;

            &::after {
                content: '';
                display: inline-block;
                height: 1px;
                width: 77px;
                background: #fff;
                margin-left: 15px;
            }

            &::before {
                content: '';
                display: inline-block;
                height: 1px;
                width: 77px;
                background: #fff;
                margin-right: 15px;
            }
        }

        .supua__link {
            display: inline-block;
            padding: 3px 31px;
            color: #fff;
            text-decoration: none;
            background: #F2B14F;
            border-radius: 43px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            font-family: 'Montserrat', sans-serif;
            transition: 0.3s;

            &:hover {
                background: #dd952a;
            }
        }
    }
}

.supua.hide {
    transform: translateY(-40px);
}

.header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    z-index: 99;
}

.header.fixed.support {
    top: 40px;
}
















@media(max-width:1199.8px) {
    .header__message p {
        font-size: 32px;
    }

    .header__message p a:before {
        width: 50px;
    }
}

@media(max-width:991.8px) {
    .header__message p {
        font-size: 24px;
    }

    .header__message p a:before {
        width: 50px;
    }

    .header__message p img {
        width: 36px;
        margin: -3px 15px 0 15px;
    }

    .header__message p a:before {
        width: 40px;
    }

    .header__message {
        height: 80px;
    }

    .supua {
        font-size: 18px;
    }

    .supua p img {
        max-width: 30px;
        margin: -3px 10px 0 10px;
    }

    .supua p span.ltext:before,
    .supua p span.ltext:after {
        width: 40px;
    }

    .header.fixed.support {
        top: 80px;
    }

}

@media(max-width:767.8px) {
    header.header.header__white .header__nav ul.header__menu>li {
        color: #fff;

        a {
            color: #fff;
        }
    }
    .header__message p {
        display: block;
    }
    .header__message p a {
        display: block;
        margin-left: 0;
    }

    
    .supua {
        height: 58px;
    }

    .supua p {
        flex-wrap: wrap;
        justify-content: center;
        font-weight: 700;
        font-size: 16.4062px;
        line-height: 140%;
    }

    .supua p span.ltext {
        display: block;
        width: 100%;
        margin-top: 5px;
        font-weight: 600;
        font-size: 9.375px;
        line-height: 11px;
    }

    .supua p .supua__link,
    .supua p span.ltext::after,
    .supua p span.ltext::before {
        display: none;
    }

    .supua p img {
        max-width: 35px;
        margin-top: -1px;
    }

}

@media(max-width:575.8px) {
    .header__message {
        padding: 5px 24px;
    }

    .header__message p {
        font-size: 21px;
    }

    .header__message p img {
        width: 30px;
        margin: -3px 5px 0 5px;
    }

    .header__message p a:before {
        width: 20px;
        margin-right: 10px;
    }
    .header__message p a {
        font-size: 13px;
    }


}