.welcomesection {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 850px;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: #0F0F10;
        opacity: 0.8;
    }

    .service-container {
        width: 100%;
    }
}


.welcomesection__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: 50% 50%;
}

.welcomesection__content {
    position: relative;
    z-index: 2;
    font-family: 'Montserrat';
    margin-top: -45px;
}

.welcomesection__title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 80px;
    line-height: 104%;
    max-width: 956px;
    margin-bottom: 33px;

    span {
        display: block;
        background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.welcomesection__descr {
    max-width: 344px;
    margin-bottom: 27px;

    p {
        font-size: 16px;
        line-height: 130%;
        color: #fff;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.welcomesection__link {
    display: inline-block;
    padding: 14px 32px;
    background: #fff;
    color: #000000;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    transition: 0.5s;
    position: relative;

    &:hover {
        animation: pulse1 2s infinite;
    }
}

@keyframes pulse1 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .2);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .2);
    }
}

.welcomesection__bottomsect {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    bottom: 75px;


    .service-container {
        width: 100%;
    }

    a {
        display: inline-block;
        margin-right: 45px;
    }

    .welcomesection__bottcont {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

}

.welcomesection__bottcont a {}

.welcomesection__bottcont a:not(:last-child) {
    position: relative;
    height: 80px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcomesection__bottcont a:last-child {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
}

.defaultimg {
    opacity: 0.6;
}

.hoverimg {
    display: none;
}

.welcomesection__bottcont a:hover {
    .defaultimg {
        display: none;
    }

    .hoverimg {
        display: block;
        animation: hoverbadge 2s infinite;
    }
}

.devservivessection {
    // background: linear-gradient(180deg, #0A0A0B 0%, #0E0E0F 100%);
    background: #0A0A0B;
    padding: 208px 0 145px;
    position: relative;

    .service-faq__titles {
        margin-bottom: 104px;
    }

    .abussectitle {
        max-width: 1182px;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background-image: url(../images/grain.png), url(../images/newmain/grids1.png);
        background-image: url(../images/newmain/grid.svg);
        background-repeat: no-repeat, no-repeat;
        // background-size: 100% 100%, 100% 100%;
        // background-position: 0 0, 0 -1px;
        background-size: 100% auto;
        background-position: 0 -1px;
        z-index: 1;
        opacity: 0.7;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 103px;
        width: 100%;
        max-width: 1640px;
        margin: 0 auto;
        height: 924px;
        max-height: 100%;
        z-index: 2;
        background: radial-gradient(54.07% 52.6% at 36.53% 34.34%, #0D0D0E 44.21%, rgba(32, 29, 29, 0) 100%);
        opacity: 0.8;
        filter: blur(16px);
    }

    .service-container {
        position: relative;
        z-index: 3;
    }

}

.devservives-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.devservivesbox {
    max-width: 372px;
    width: 100%;
    padding: 24px;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
    min-height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #141415;

    .title {
        margin-bottom: 16px;
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        line-height: 135%;
        font-family: 'Montserrat';
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .descr {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
    }

    .devservivesbox__btn {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 67px;
            border: 1px solid;
            border-image-slice: 1;
            border-width: 1px;
            border-image-source: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
            color: #C9FA3D;
            letter-spacing: 0.02em;
            text-align: center;
            font-weight: 700;
            font-size: 18px;
            transition: 0.3s;

            &:hover {
                background: #C9FA3D;
                color: #0F0F10;
            }
        }
    }

}

.service-whatwedo.newmain {
    padding-bottom: 145px;
    // -----
    background: #0A0A0B;

    .section-subtitle {
        max-width: 713px;
        margin: 0 auto 6px;
    }

    h2 {
        font-size: 80px;
        line-height: 120%;
    }

    .devservices:after {
        display: none;
    }

    // ------------
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/newmain/grid.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0 -1px;
        z-index: 1;
        opacity: 0.7;
    }
}

.service-operate.newmain {
    // -----
    background: #0A0A0B;


    .servoperateslider1 {
        max-width: 1400px;
        margin: 0 auto;
    }

    .servoperatesl-wrapper .linepoints {
        max-width: calc(1400px - 250px);
    }

    // ------------
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/newmain/grid.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0 -1px;
        z-index: 1;
        opacity: 0.7;
    }
}

// -----------
.service-testimonials.newmain {
    // -----
    background: #0A0A0B;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/newmain/grid.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0 -1px;
        z-index: 1;
        opacity: 0.7;
    }
}

.service-ourworks.newmain {

    .worksect {
        background: #51B3DA;
    }

    .cases-wrapper {
        .worksect {
            &:nth-child(even) {
                .worksect-container {
                    flex-direction: row;

                    .worksect__textbox {
                        text-align: left;

                        .textboxwrap {
                            text-align: right;
                        }
                    }
                }
            }

            &:nth-child(odd) {
                .worksect-container {
                    flex-direction: row-reverse;

                    .worksect__textbox {
                        text-align: right;

                        .textboxwrap {
                            text-align: left;
                        }
                    }
                }
            }
        }

    }

    // -----
    background: #0A0A0B;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/newmain/grid.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0 -1px;
        z-index: 1;
        opacity: 0.7;
    }

}

.service-workin.abus.newmain {
    padding-top: 220px;
    // ----------
    background: #0A0A0B;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/newmain/grid.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0 -1px;
        z-index: 1;
        opacity: 0.7;
    }

    // &::after {
    //     background-image: url(../images/grain-6.png);
    //     background-repeat: no-repeat;
    //     background-size: 100% 100%;
    //     background-position: 0 0;
    // }
}

.service-workin.tech.newmain {
    padding-top: 50px;

    // &::after {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-image: url(../images/grain-6.png), url(../images/newmain/test.png);
    //     background-repeat: no-repeat, no-repeat;
    //     background-size: 100% auto, 100% auto;
    //     background-position: 0 0, 0 0px;
    //     z-index: 1;

    // }
    // ----------
    background: #0A0A0B;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/newmain/grid.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0 -1px;
        z-index: 1;
        opacity: 0.7;
    }
}

.lateststories.newmain {
    padding-top: 100px;
    padding-bottom: 17px;
    position: relative;
    // ----------
    background: #0A0A0B;

    // &::after {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-image: url(../images/grain-6.png);
    //     background-repeat: no-repeat;
    //     background-size: 100% auto;
    //     background-position: 0 0;
    //     z-index: 1;
    // }
}

.dropusanote.newmain {
    position: relative;

    .dropusanotelink {
        text-align: left;

        a {
            color: #C9FA3D;

            span {
                &::after {
                    background: #C9FA3D;
                }
            }
        }
    }

    // ----------
    background: #0A0A0B;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/newmain/grid.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0 -1px;
        z-index: 1;
        opacity: 0.7;
    }




    // &::after {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-image: url(../images/grain.png), url(../images/newmain/grid.png);
    //     background-repeat: no-repeat, no-repeat;
    //     background-size: 100% 100%, 100% auto;
    //     background-position: 0 0, 0 -1px;
    //     z-index: 1;
    // }
}

.service-faq.newmain {
    // ----
    background: #0A0A0B;

    .service__col-5 {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        max-width: 43%;
        flex: 0 0 43%;
    }

    .service__col-7 {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        max-width: 57%;
        flex: 0 0 57%;
    }
}


.bodygridbg {
    background-image: url(../images/homeupdate/without-noise.svg);
    background-repeat: repeat;
    background-color: #0A0A0B;
}

.devservivessection,
.service-whatwedo.newmain,
.service-operate.newmain,
.service-testimonials.newmain,
.service-ourworks.newmain,
.service-workin.abus.newmain,
.service-workin.tech.newmain,
.lateststories.newmain,
.dropusanote.newmain,
.service-faq.newmain {
    background: transparent;
}

.devservivessection:after,
.service-whatwedo.newmain:after,
.service-operate.newmain::after,
.service-testimonials.newmain::after,
.service-workin.abus.newmain:after,
.abusslwrap::after,
.service-workin.tech.newmain:after,
.lateststories.newmain::after,
.dropusanote.newmain::after,
.service-faq.newmain::after,
.service-ourworks.newmain::after {
    display: none;
}






.service-operate.newmain .sectdescr {
    max-width: 552px;
    margin: 0 auto;
    color: #FFFFFF;
    opacity: 0.7;
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;
    text-align: center;
    margin-bottom: 140px;
}

.service-ourworks.newmain .cases-wrapper .worksect:nth-child(2n) .worksect-container .worksect__textbox .textboxwrap {
    text-align: left;
}






@media(min-width:1900px) {

    .dropusanote.newmain {
        .dropusanotesect__content {
            max-width: 80%;
            flex: 0 0 80%;
        }

        .dropusanotesect__pic {
            max-width: 20%;
            flex: 0 0 20%;
        }

        .dropusanotesect__pic img {
            left: -100px;
        }

        .dropusanotesect__content h2 {
            margin-bottom: 63px;
        }

        .dropusanotelink {
            margin-top: 138px;
        }
    }

    .dropusanote.newmain {
        .dropusanotesect {
            padding: 106px 120px 90px 120px;
        }
    }

}

@media(min-width:1500px) {
    .lateststories.newmain {
        .blog__body.fourinrow {
            max-width: 1536px;
            margin: 0 auto;
        }

        .postbox-col:not(.w-100) .postbox .postbox__body-top,
        .postbox-col:not(.w-100) .postbox .postbox__bottsect {
            padding-left: 30px;
            padding-right: 30px;
        }

        .postbox-col:not(.w-100) .postbox {
            height: 466px;
        }
    }


}

@media(max-width:1800px) {
    .devservivesbox {
        width: calc(25% - 15px);
        max-width: 100%;
    }
}

@media(max-width:1600.8px) {
    .welcomesection__title {
        font-size: 54px;
        max-width: 720px;
    }

    .welcomesection {
        min-height: 600px;
    }

    .welcomesection__bottomsect {
        bottom: 25px;
    }

    .welcomesection__content {
        margin-top: 0;
    }

    .welcomesection__bottcont a:not(:last-child) img {
        max-height: 60px;
    }

    .welcomesection__bottcont a:not(:last-child) {
        margin-right: 30px;
    }

    .welcomesection__bottcont a:not(:last-child) {
        width: 60px;
        height: 60px;
    }

    .welcomesection__bottcont a:last-child {
        height: 60px;
    }

    .devservivesbox .title {
        font-size: 21px;
    }

    .devservivesbox .devservivesbox__btn a {
        height: 60px;
    }

    .service-operate.newmain .sectdescr {
        margin-bottom: 70px;
    }

    .service-workin.abus.newmain {
        padding-top: 150px;
    }








    .service-whatwedo.newmain {
        padding-bottom: 100px;
    }

    .devservivessection {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    .devservivesbox {
        width: calc(25% - 15px);
    }

    .abussectitle,
    .service-whatwedo.newmain h2,
    .lateststories__title {
        font-size: 54px;
    }
}

@media(max-width:1400.8px) {

    .welcomesection__title {
        font-size: 48px;
    }

    .abussectitle,
    .service-whatwedo.newmain h2,
    .lateststories__title {
        font-size: 46px;
    }

    .devservivesbox {
        width: calc(25% - 10px);
    }

    .devservivesbox .title {
        font-size: 18px;
    }

    .devservivesbox .descr {
        font-size: 15px;
        line-height: 160%;
    }

    .devservivesbox {
        padding: 15px;
        min-height: 340px;
    }

    .devservivessection .service-faq__titles {
        margin-bottom: 70px;
    }

    .servoperateslider__box .title {
        font-weight: 600;
    }

    .service-workin.abus.newmain {
        padding-top: 120px;
    }

    .service-workin.newmain .workinslider .slick-track {
        padding-bottom: 140px;
    }




}

@media(max-width:1199.8px) {
    .devservivesbox {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .devservivesbox .title {
        font-size: 20px;
    }

    .devservivesbox .descr {
        font-size: 16px;
    }

    .dropusanote.newmain .dropusanotesect__content h2 {
        font-size: 38px;
        margin-bottom: 20px;
    }

    .dropusanote.newmain .dropusanotelink {
        margin-top: 40px;
    }

}

@media(max-width:991.8px) {

    .abussectitle,
    .lateststories__title,
    .service-whatwedo.newmain h2 {
        font-size: 38px;
    }

    .service-ourworks.newmain .cases-wrapper .worksect:nth-child(odd) .worksect-container .worksect__textbox,
    .service-ourworks.newmain .cases-wrapper .worksect:nth-child(odd) .worksect-container .worksect__textbox .textboxwrap,
    .service-ourworks.newmain .cases-wrapper .worksect:nth-child(2n) .worksect-container .worksect__textbox,
    .service-ourworks.newmain .cases-wrapper .worksect:nth-child(2n) .worksect-container .worksect__textbox .textboxwrap {
        text-align: center;
    }

    .service-workin.tech.newmain:after {
        background-size: auto 100%, auto 100%;
    }

    .dropusanote.newmain .dropusanotelink {
        text-align: center;
    }

    .service-faq.newmain .service__col-5,
    .service-faq.newmain .service__col-7 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .service-faq .service-faq__titles {
        margin-bottom: 40px;
    }





    .devservivessection {
        padding: 70px 0 80px;
    }

}

@media(max-width:767.8px) {
    .welcomesection__title {
        font-size: 35px;
    }

    .welcomesection__link {
        padding: 12px 18px;
    }

    .devservivesbox {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .devservivesbox {
        min-height: initial;
    }

    .devservivesbox__information {
        margin-bottom: 30px;
    }

    .service-operate.newmain .servoperatesl-wrapper .linepoints {
        width: calc(100% - 180px);
    }

}

@media(max-width:575.8px) {
    .welcomesection {
        min-height: initial;
        height: auto;
        padding-bottom: 24px;
    }

    .welcomesection {
        display: block;
        padding-top: 129px;
    }

    .welcomesection__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 110%;
        letter-spacing: 0.01em;
        margin-bottom: 19px;

        br {
            display: none;
        }
    }

    .welcomesection__descr {
        max-width: 254px;
        margin-bottom: 19px;
    }

    .welcomesection__link {
        padding: 14px 32px;
    }

    .welcomesection__bottomsect {
        position: relative;
        bottom: 0;
        margin-top: 80px;
    }

    .welcomesection__bottomsect .welcomesection__bottcont {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .welcomesection__bottomsect a {
        margin-right: 10px;
    }

    .welcomesection__bg {
        object-position: 90% 50%;
    }

    .welcomesection__bottcont a:not(:last-child) img {
        max-height: 53px;
    }

    .welcomesection__bottcont a:not(:last-child) {
        margin-right: 10px;
    }

    .welcomesection__bottcont a:last-child img {
        max-height: 74px;
    }

    .service-benefits h2,
    .service-benefits h3 {
        margin-bottom: 30px;
    }

    .devservivessection .service-faq__titles {
        margin-bottom: 30px;
    }

    .service-whatwedo.newmain h2 {
        margin-bottom: 0;
    }

    .service-operate.newmain .servoperatesl-wrapper .linepoints {
        width: calc(100% - 100px);
    }

    .service-operate.newmain h2,
    .service-operate.newmain .sectdescr {
        padding-right: 15px;
        text-align: left;
    }

    .service-operate.newmain h2 {
        margin-bottom: 20px;
    }

    .service-operate.newmain .sectdescr {
        margin-bottom: 40px;
    }

    .service-ourworks.newmain h2 {
        margin-bottom: 40px;
    }

    .service-ourworks.newmain .cases-wrapper .worksect:nth-child(odd) .worksect-container .worksect__textbox .textboxwrap,
    .service-ourworks.newmain .cases-wrapper .worksect:nth-child(2n) .worksect-container .worksect__textbox,
    .service-ourworks.newmain .cases-wrapper .worksect:nth-child(2n) .worksect-container .worksect__textbox .textboxwrap {
        text-align: left;
    }

    .service-workin.abus.newmain {
        padding-top: 80px;
    }

    .service-workin.newmain .workinslider .slick-track {
        padding-bottom: 40px;
    }

    .lateststories.newmain {
        padding: 60px 0;
    }

    .service-workin .workinslider__slide img {
        filter: grayscale(0);
    }

    .bodygridbg {
        background-image: none;
    }







    .devservivessection {
        padding-bottom: 40px;
    }

    .devservivessection .abussectitle,
    .service-whatwedo.newmain h2,
    .abussectitle,
    .lateststories__title,
    .dropusanote.newmain .dropusanotesect__content h2 {
        font-size: 32px;
    }


}

@media(max-width:360.8px) {
    .welcomesection__bottomsect .welcomesection__bottcont {
        justify-content: flex-start;
    }

    .welcomesection__bottomsect a {
        margin-bottom: 15px;
    }
}









// 30.11




header.header .header__language {
    width: 50px;
    position: relative;
    text-align: left;

    span {
        cursor: pointer;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        display: block;
        padding-right: 25px;

        &::after {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url('../images/new/langarrow.svg') no-repeat center / 100%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    ul.langlist {
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding: 48px 40px;
        background: #fff;
        position: absolute;
        width: 157px;
        top: calc(100% + 24px);
        left: 50%;
        transform: translateX(-50%);
        display: none;

        &::after {
            content: '';
            width: 32px;
            height: 32px;
            background: url('../images/new/langfigure.png') no-repeat center / 100%;
            display: inline-block;
            position: absolute;
            top: -16px;
            left: 50%;
            transform: translateX(-50%);
        }

        li {
            margin-bottom: 24px;


            &:last-child {
                margin-bottom: 0;
            }

            a {
                display: block;
                background: transparent;
                padding: 0;
                color: #0F0F10;
                font-weight: 600;
                font-size: 16px;
                line-height: 34px;

                img {
                    margin-right: 16px;
                    vertical-align: middle;
                    margin-top: -3px;
                }

                &:hover {
                    box-shadow: none;
                    opacity: 0.7;
                }
            }
        }
    }
}

.bottmenusect .langlist {
    display: none !important;
}

header.header.header__white .header__language {
    span {
        &::after {
            filter: invert(1);
        }
    }

    .langlist {
        filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
    }

}

@media(min-width:992px) {
    .header.header .header__nav {
        max-width: calc(100% - 410px);
        flex: 0 0 calc(100% - 410px);
        padding-left: 80px;
    }

    header.header .header__chat {
        max-width: 245px;
        flex: 0 0 245px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width:1199.8px) {
    .header.header .header__nav {
        padding-left: 0;
    }
}

@media(max-width:991.8px) {
    .header.header .header__nav {
        padding-left: 0;
    }

    header.header .header__chat {
        max-width: 190px;
        flex: 0 0 190px;
    }

    .header.header .header__nav {
        display: none;
    }

    .bottmenusect {
        width: 100%;
    }

    .header__nav.show .langlist {
        display: block !important;
        width: 100%;
        text-align: center;
        // padding-left: 40px;
        margin-bottom: 20px;

        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 15px 15px 15px;

            a {
                color: #fff;
                font-weight: 700;
                font-size: 28px;
                line-height: 110%;

                img {
                    height: 20px;
                }
            }
        }
    }

    .bottmenusect .langlist {
        display: block !important;
    }

}

@media(max-width:991.8px) and (min-width:767px) {
    .header__burger {
        width: 22px;
        max-width: 22px;
        flex: 0 0 22px;
        height: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        right: 40px;
        position: absolute;

        span {
            background: #fff;
            display: inline-block;
            height: 2px;
            width: 100%;
            -webkit-transition: 0.5s;
            transition: 0.5s;

            &:nth-child(2) {
                width: 60%;
            }
        }
    }

    header.header .header__chat {
        max-width: calc(100% - 140px);
        flex: 0 0 calc(100% - 140px);
        justify-content: flex-end;
        padding-right: 30px;
        display: none;
    }

    header.header .header__language {
        margin-right: 20px;
    }

    // header.header .header__chat {
    //     display: flex;
    //     align-items: center;
    //     justify-content: flex-end;
    // }

    header.header .header__chat {
        display: none;
    }

    header.header .header__nav {
        display: none;
    }

    .header__burger {
        display: inline-block;
        width: 22px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        align-items: flex-end;

        span {
            background: #fff;
            display: inline-block;
            height: 2px;
            width: 100%;
            transition: 0.5s;

            &:nth-child(2) {
                width: 60%;
            }
        }

        &.open {
            span {
                &:nth-child(2) {
                    opacity: 0;
                    transform: translateX(10px);
                }

                &:nth-child(1) {
                    transform: rotate(45deg) translate(6px, 5px);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(6px, -5px);
                }
            }
        }
    }

    header.header {
        justify-content: space-between;
    }

    header.header .header__nav {
        display: none;
        position: fixed;
        left: 0;
        top: 96px;
        width: 100%;
        max-width: 100%;
        height: calc(100vh - 96px);
        background: #000;
    }

    header.header .header__nav.show {
        display: block;
    }

    header.header .header__nav ul.header__menu>li {
        display: block;
        font-weight: 700;
        font-size: 28px;
        line-height: 110%;
        margin: 0 0 40px 0;
        padding: 0 40px;

        a {
            font-weight: 700;
            font-size: 28px;
            line-height: 110%;
        }
    }

    .mobletschat {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 327px;
        min-height: 52px;
        background: #C9FA3D;
        color: #0F0F10;
        letter-spacing: 0.05em;
        font-weight: 700;
        font-size: 16px;
        line-height: 147%;

        img {
            margin-left: 8px;
            vertical-align: middle;
            margin-bottom: -3px;
        }
    }

    .menuwrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 100px 0;
        overflow: scroll;
    }

    header.header .header__nav ul.header__menu>li .submenu:after {
        display: none;
    }

    header.header .header__nav ul.header__menu {
        width: 100%;
    }

    header.header .header__nav ul.header__menu>li {
        text-align: left;
    }

    header.header .header__nav ul.header__menu>li.sublink .submenu {
        padding: 0;
    }

    header.header .header__nav ul.header__menu>li .submenu {
        position: relative;
        top: 0;
        width: 100%;
        background: transparent;
        margin-top: 30px;
        display: none;
    }

    header.header .header__nav ul.header__menu>li .submenu li a {
        background: transparent;
        padding: 0;
        color: rgba(#fff, 0.6);
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
    }




}

@media(max-width:575.8px) {
    .header__nav.show .langlist li a {
        font-size: 21px;
        font-weight: 600;
    }

    .header__nav.show .langlist li a img {
        height: 16px;
        margin-top: -3px;
        vertical-align: middle;
    }
}







// font-family: 'Montserrat';






// 14.12

.welcomesection__title.hupd {
    line-height: 120%;
    margin-bottom: 48px;
    font-family: 'Montserrat';

    i {
        font-style: normal;
        position: relative;
        display: inline-block;

        &::after {
            content: '';
            display: inline-block;
            width: calc(100% + 65px);
            height: 80px;
            background: url('../images/homeupdate/titleline.png') no-repeat center / 100% 100%;
            position: absolute;
            left: -40px;
            bottom: -43px;
        }
    }
}

.welcomesection__descr {
    max-width: 450px;
    margin-bottom: 48px;

    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 200%;
    }
}

.welcomesection__bottombox {
    bottom: 72px;
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
}

.welcomesection__bottcont-left,
.welcomesection__bottcont-right {
    width: 100%;
    max-width: 50%;
    flex: 0 0 50%;
}

.welcomesection__bottcont-right {
    text-align: right;

    a {
        display: inline-block;
        margin-right: 44px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.welcomesection__bottomboxcont {
    display: flex;
    align-items: center;
}

.welcomesection__bottcont-left p {
    margin: 0;
    color: #828282;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    font-family: 'Montserrat';

    a {
        background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.welcomesection__content {
    margin-top: -80px;
}



.hupd-benefits {
    padding: 260px 0 90px;
}

.flexrow {
    display: flex;
    flex-wrap: wrap;
}

.hupd-benefits__left {
    width: 100%;
    max-width: 38.5%;
    flex: 0 0 38.5%;
}

.hupd-benefits__right {
    width: 100%;
    max-width: 61.5%;
    flex: 0 0 61.5%;
    padding-left: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.hupd-benefits__left {
    h2 {
        margin: 0 0 16px 0;
        color: #fff;
        font-weight: 700;
        font-size: 56px;
        line-height: 135%;
        font-family: 'Montserrat';
    }

    .descr {
        margin-bottom: 88px;
        color: rgba(255, 255, 255, .7);
        font-weight: 500;
        font-size: 18px;
        line-height: 200%;
        font-family: 'Montserrat';
        max-width: 549px;
    }

    .getproduct {
        max-width: 549px;
        display: inline-block;
        font-weight: 700;
        font-size: 24px;
        line-height: 135%;
        font-family: 'Montserrat';
        background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.hupdbenefit-wrap {
    width: 100%;
    max-width: calc(50% - 8px);
    flex: 0 0 calc(50% - 8px);
    margin-bottom: 16px;
}

.hupdbenefit {
    position: relative;
    border: 0.6px solid #FFFFFF;
    padding: 24px 20px;
    height: 100%;

    .title {
        margin-bottom: 16px;
        color: #fff;
        letter-spacing: 0.02em;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
    }

    .descr {
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 180%;
            color: #fff;
            font-family: 'Montserrat';

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.hupdbenefit__icon {
    max-height: 104px;
    margin-bottom: 32px;
}

// ----/
.hupd-clientfutured {
    padding: 120px 0;
}

.hupd-clientfutured__left {
    width: 100%;
    max-width: 427px;
    flex: 0 0 427px;

    p {
        margin: 0;
        font-weight: 700;
        font-size: 24px;
        line-height: 135%;
        color: #fff;
        font-family: 'Montserrat';
    }
}

.hupd-clientfutured__right {
    width: 100%;
    max-width: calc(100% - 427px);
    flex: 0 0 calc(100% - 427px);
}

.clientfutured__imgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 118px;
}

.service-operate__hupd {
    padding: 218px 0 200px;

    h2 {
        margin-bottom: 63px;
    }


}

.service-operate__hupd {
    background: transparent !important;

    &::after {
        display: none;
    }

    .servoperatesl-wrapper {
        background: radial-gradient(50% 50% at 50% 50%, #101011 27.08%, rgba(19, 19, 20, 0) 100%);

        .linepoints {
            width: calc(100% - 310px);
        }
    }
}

.service-testimonials__hupd .testimonialslide {
    padding: 44px 56px;
    height: 575px;

    .testimonialslide__photo {
        width: 104px;
        height: 104px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        margin-bottom: 16px;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .descr {
        min-height: initial;
        margin-bottom: 32px;

        p {
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

.devservivessection.devservivessection__hupd {

    .devservivesbox {
        background: rgba(15, 15, 16, 0.5);
        border: 0.6px solid #FFFFFF;
        padding: 24px 20px;
    }

    .title {
        padding-right: 48px;
        position: relative;
        margin-bottom: 24px;

        &::after {
            content: '';
            width: 22px;
            height: 22px;
            position: absolute;
            right: 0;
            top: 3px;
            background: url('../images/homeupdate/linkarrow.svg') no-repeat center / 100%;
        }
    }

    .devservivesbox {
        min-height: 350px;
    }
}

.futuredclients {
    padding: 110px 0 145px;

    h2 {
        color: #fff;
        text-align: center;
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        font-family: 'Montserrat';
        margin-bottom: 70px;
    }

    .futuredclients-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 1370px;
        margin: 0 auto;
        background: #0F0F10;
        border: 0.5px solid;
        border-image-slice: 1;
        border-width: 1px;
        border-image-source: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);


        .futuredclient {
            width: 100%;
            max-width: 20%;
            flex: 0 0 20%;
            height: 273px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            border-right: 1px solid #DBFF74;

            &:last-child {
                border-right: none;
            }

            img {
                max-width: 100%;
            }
        }
    }
}

.lateststories__header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 110px;

    .lateststories__header-left {
        width: 100%;
        max-width: calc(100% - 200px);
        flex: 0 0 calc(100% - 200px);
    }

    .lateststories__header-right {
        width: 100%;
        max-width: 200px;
        flex: 0 0 200px;
    }

    .lateststories__title {
        margin-bottom: 0;
    }
}


.lateststories__header-right {
    a {
        text-align: center;
        letter-spacing: 0.02em;
        color: #C9FA3D;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        background: #0F0F10;
        border: 1px solid #C9FA3D;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        min-height: 67px;
        padding: 5px 44px;
        -webkit-transition: 0.3s;
        transition: 0.3s;

        &:hover {
            color: #0F0F10;
            background: #C9FA3D;
        }
    }
}


.lateststories.newmain.lateststories__hupd .blog__body.fourinrow {
    max-width: 100%;
}

.dropusanote.dropusanote__hupd {
    padding-top: 230px;
    padding-bottom: 209px;

    .dropusanotesect {
        max-width: 100%;
        padding: 114px 0 107px 132px;

        .postpic {
            position: absolute;
            right: 0;
            max-width: 46%;
            bottom: 0;
        }
    }

    .dropusanotesect__content {
        max-width: 54%;

        h2 {
            font-weight: 700;
            font-size: 56px;
            line-height: 135%;
            margin-bottom: 32px;
        }

        .descr {
            max-width: 547px;
        }

        .dropusanotelink {
            margin-top: 112px;
            text-align: left;

            a {
                span {
                    font-weight: 400;
                    font-size: 56px;
                    line-height: 135%;
                    background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    &::after {
                        background: #a9ff97;
                    }
                }

                img {}
            }
        }
    }

}

.hupdbenefit {
    background: rgba(15, 15, 16, 0.5);
}

.futuredclients.futuredclients__hupd {
    padding-top: 110px;
}

.lateststories.newmain.lateststories__hupd {
    padding-top: 192px;
}

.service-faq.service-faq__hupd {
    background-color: #0A0A0B;
    padding: 200px 0;
    box-shadow: 0 0 150px #000;
}

.clientfutured__imgs img {
    height: 36px;
}

.lateststories__header .lateststories__header-right {
    text-align: right;
}



@media(max-width:1600.8px) {

    .welcomesection__content {
        margin-top: -60px;
    }

    .welcomesection__descr p {
        font-size: 16px;
        line-height: 180%;
    }

    .welcomesection__title.hupd {
        margin-bottom: 30px;
    }

    .welcomesection__title.hupd i:after {
        height: 60px;
        width: calc(100% + 20px);
        left: -20px;
        bottom: -30px;
    }

    .welcomesection__descr {
        margin-bottom: 40px;
    }

    .welcomesection__bottcont-right a img {
        height: 100px;
    }

    .welcomesection__bottcont-left p {
        font-size: 16px;
    }

    .welcomesection__bottombox {
        bottom: 40px;
    }

    .hupd-benefits__left .descr,
    .hupd-benefits__left .getproduct {
        max-width: 400px;
    }

    .hupdbenefit__icon {
        max-height: 70px;
    }

    .hupdbenefit__icon {
        margin-bottom: 20px;
    }

    .hupd-clientfutured {
        padding: 100px 0;
    }

    .clientfutured__imgs {
        padding-left: 0;

        img {
            height: 30px;
        }

    }

    .service-testimonials__hupd .testimonialslide {
        padding: 25px;
    }

    .service-testimonials__hupd .testimonialslide .testimonialslide__photo {
        width: 70px;
        height: 70px;
    }

    .service-testimonials .testimonialslide .descr p {
        line-height: 180%;
    }

    .service-testimonials__hupd .testimonialslide {
        height: 445px;
    }

    .futuredclients h2 {
        margin-bottom: 50px;
    }

    .futuredclients.futuredclients__hupd {
        padding-bottom: 30px;
    }

    .lateststories__header-right a {
        min-height: 54px;
        font-size: 16px;
    }

    .lateststories__header {
        margin-bottom: 80px;
    }

    .dropusanote.dropusanote__hupd {
        padding-top: 150px;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect__content h2 {
        font-size: 44px;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect__content .descr p {
        font-size: 16px;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect {
        padding: 90px 0 100px 100px;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect__content .dropusanotelink a span {
        font-size: 48px;
    }

    .dropusanote.dropusanote__hupd .dropusanotelink a img {
        width: 80px;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect .postpic {
        max-width: 40%;
    }

    .dropusanote.dropusanote__hupd {
        padding-bottom: 120px;
    }

    .service-faq.service-faq__hupd {
        padding: 150px 0;
    }


    .futuredclients h2 {
        font-size: 54px;
    }

    .hupd-benefits__left h2 {
        font-size: 48px;
    }

    .hupd-benefits__left .getproduct,
    .hupd-clientfutured__left p {
        font-size: 21px;
    }

    .hupd-benefits__left .descr {
        font-size: 16px;
    }

    .hupdbenefit .descr p {
        font-size: 15px;
    }

    .hupd-benefits {
        padding-top: 200px;
    }

    .service-operate__hupd {
        padding-top: 150px;
    }

    .service-operate__hupd {
        padding-bottom: 100px;
    }

}

@media(max-width:1400.8px) {

    .welcomesection__bottcont-left {
        max-width: 40%;
        flex: 0 0 40%;
    }

    .welcomesection__bottcont-right {
        max-width: 60%;
        flex: 0 0 60%;
    }

    .welcomesection__bottcont-right a img {
        height: 80px;
    }

    .hupd-benefits {
        padding-top: 150px;
    }

    .hupd-benefits__left {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 40px;

        h2 br {
            display: none;
        }
    }

    .hupd-benefits__left .descr,
    .hupd-benefits__left .getproduct {
        max-width: 100%;
    }

    .hupd-benefits__left .descr {
        margin-bottom: 40px;
    }

    .hupd-benefits__right {
        padding-left: 0;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .hupd-clientfutured {
        padding: 70px 0;
    }

    .hupd-clientfutured__right,
    .hupd-clientfutured__left {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .hupd-clientfutured__left {
        margin-bottom: 40px;
    }

    .hupd-benefits {
        padding-bottom: 50px;
    }

    .service-operate.service-operate__hupd {
        padding-bottom: 60px;
    }

    .service-testimonials.service-testimonials__hupd {
        padding-bottom: 50px;
    }

    .devservivesbox {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .devservivessection.devservivessection__hupd .devservivesbox {
        min-height: 220px;
    }

    .futuredclients.futuredclients__hupd {
        padding-top: 70px;
    }

    .futuredclients .futuredclients-wrap .futuredclient {
        height: 200px;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect {
        padding: 60px 0 60px 60px;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect__content h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect__content .dropusanotelink {
        margin-top: 60px;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect__content .dropusanotelink a span {
        font-size: 36px;
    }

    .dropusanote.dropusanote__hupd .dropusanotelink a img {
        width: 60px;
    }

    .service-faq.service-faq__hupd {
        padding: 100px 0;
    }



    .futuredclients h2 {
        font-size: 46px;
    }

    .devservivessection {
        padding-bottom: 50px;
    }

    .service-operate__hupd {
        padding-top: 120px;
    }

}

@media(max-width:991.8px) {
    .welcomesection__bottomboxcont {
        flex-wrap: wrap;
    }

    .welcomesection__title.hupd {
        line-height: 140%;
    }

    .welcomesection__bottcont-left,
    .welcomesection__bottcont-right {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    .welcomesection__bottcont-left {
        order: 2;
        margin-top: 30px;
    }

    .clientfutured__imgs>div {
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;
        margin-bottom: 30px;
    }

    .hupd-clientfutured {
        padding-bottom: 30px;
    }

    .service-operate__hupd .servoperatesl-wrapper .linepoints {
        width: calc(100% - 200px);
    }

    .futuredclients .futuredclients-wrap .futuredclient {
        height: 150px;
    }

    .lateststories.newmain.lateststories__hupd {
        padding-top: 150px;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect {
        padding: 40px;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect__content {
        max-width: 100%;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect__content .dropusanotelink {
        margin-top: 140px;
    }

    .dropusanote.dropusanote__hupd {
        padding: 100px 0 80px;
    }






    .service-operate__hupd {
        padding-top: 100px;
    }

    .hupd-benefits__left h2 {
        font-size: 38px;
    }

    .hupd-benefits {
        padding-top: 100px;
    }

}

@media(max-width:767.8px) {
    .dropusanote.dropusanote__hupd .dropusanotesect .postpic {
        display: none;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect__content .dropusanotelink a span {
        font-size: 24px;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect__content .dropusanotelink {
        text-align: center;
        margin-top: 40px;
    }


    .dropusanote.dropusanote__hupd .dropusanotelink a img {
        width: 45px;
    }

    .futuredclients .futuredclients-wrap .futuredclient {
        max-width: 100%;
        flex: 0 0 100%;
        border-right: none;
        border-bottom: 1px solid #DBFF74;

        &:last-child {
            border-bottom: none;
        }
    }

    .futuredclients .futuredclients-wrap .futuredclient {
        height: 120px;
    }

    .lateststories__header .lateststories__header-left,
    .lateststories__header .lateststories__header-right {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .lateststories__header {
        flex-wrap: wrap;
    }

    .lateststories__header .lateststories__header-right {
        text-align: left;
        margin-top: 30px;
    }

    .hupdbenefit-wrap {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .clientfutured__imgs img {
        max-width: 100%;
    }








    .futuredclients h2,
    .service-faq h2 {
        font-size: 38px;
    }
}

@media(max-width:575.8px) {

    .welcomesection {
        padding-top: 200px;
    }

    .welcomesection__title {
        font-size: 36px;
    }

    .welcomesection__bottombox {
        position: relative;
        bottom: initial;
        margin-top: 50px;
    }

    .welcomesection__title.hupd i:after {
        height: 50px;
        width: calc(100% + 20px);
        left: -10px;
        bottom: -30px;
    }

    .welcomesection__title.hupd {
        margin-bottom: 20px;
    }

    .welcomesection__descr {
        margin-bottom: 30px;
    }

    .welcomesection__bottcont-right a {
        margin-right: 20px;
    }

    .welcomesection__bottcont-right a img {
        height: 65px;
    }

    .welcomesection__bottcont-left p {
        font-size: 14px;
    }

    .hupd-clientfutured {
        padding: 50px 0 20px 0;
    }

    .service-operate__hupd .servoperatesl-wrapper .linepoints {
        width: calc(100% - 90px);
    }

    .devservivessection {
        padding-bottom: 0;
    }

    .lateststories.newmain.lateststories__hupd {
        padding-bottom: 0;
    }
    
    .service-faq.service-faq__hupd {
        padding-bottom: 70px;
    }



    .hupd-benefits,
    .service-operate__hupd,
    .lateststories.newmain.lateststories__hupd,
    .dropusanote.dropusanote__hupd,
    .service-faq.service-faq__hupd {
        padding-top: 70px;
    }


    .hupd-benefits__left h2,
    .futuredclients h2,
    .service-faq h2 {
        font-size: 32px;
    }

    .dropusanote.dropusanote__hupd .dropusanotesect__content h2 {
        font-size: 28px;
    }

}








// font-family: 'Montserrat';