header.header .header__nav ul.header__menu>li.sublink {
    position: relative;
    position: initial;
}

.megamenu {
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    // transform: translateY(-20px);
}

.sublink:hover {
    .megamenu {
        visibility: visible;
        opacity: 1;
        z-index: 12;
        // transform: translateY(0);
    }
}


.megamenu {
    position: absolute;
    left: 0;
    top: calc(96px - 40px);
    width: 100%;
    cursor: auto;
    padding-top: 40px;
}

.megamenu__wrapper {
    background: #fff;
    padding: 60px 120px;
    display: flex;
    flex-wrap: wrap;
    color: #000;

    max-height: calc(100vh - 96px);
    overflow: auto;
}

.megamenu__leftside {
    width: 100%;
    max-width: 66%;
    flex: 0 0 66%;
    padding-left: 15px;
    padding-right: 15px;
}

.megamenu__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    .megamenu__col {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        max-width: 33.333%;
        flex: 0 0 33.333%;
    }
}

.megamenu__listtitle {
    text-align: left;
    color: #0F0F10;
    opacity: 0.4;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 14px;
}

.megamenu__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-bottom: 60px;

    li {
        margin-bottom: 12px;

        a {
            color: #0F0F10;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 160%;
            transition: 0.3s;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.megamenu__rightside {
    width: 100%;
    max-width: 34%;
    flex: 0 0 34%;
    padding-left: 15px;
    padding-right: 15px;
}

.megamenu__imgbox {
    a {
        display: inline-flex;
        position: relative;

        &:hover {
            .megamenu__imgboxtext .readmore {
                &::after {
                    transform: translateX(10px);
                }
            }
        }
    }

    img {
        max-width: 360px;
        width: 100%;
    }
}

.megamenu__imgboxtext {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 12;
    padding: 0 35px 35px 35px;
    text-align: left;

    p {
        margin-bottom: 16px;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        line-height: 160%;
        font-family: 'Montserrat', sans-serif;
    }

    .readmore {
        background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        letter-spacing: 0.02em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        position: relative;
        padding-right: 36px;

        &::after {
            content: '';
            display: inline-block;
            width: 26px;
            height: 26px;
            background: url('../images/new/bi_arrow-up.svg') no-repeat center / 100%;
            position: absolute;
            right: 0;
            top: -4px;
            transition: 0.3s;
        }

    }
}

.megamenu__buttonsect {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    justify-content: center;

    a {
        display: inline-block;
        padding: 14px 38px;
        font-family: 'Montserrat', sans-serif;
        color: #0F0F10;
        letter-spacing: 0.05em;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        border: 2px solid #000000;
        transition: 0.3s;

        &:hover {
            background: #C9FA3D;
            border: 2px solid #C9FA3D;
            box-shadow: 0px 8px 20px rgb(67 253 130 / 25%), 0px 26px 50px #2f463a;
        }
    }
}


@media(max-width:1600.8px) {

    .megamenu__listtitle {
        margin-bottom: 15px;
    }

    .megamenu__list li a {
        line-height: 140%;
    }

    .megamenu__wrapper {
        padding: 50px 90px;
    }

}

@media(max-width:1440.8px) {
    .megamenu__wrapper {
        padding: 50px 60px;
    }
}

@media(max-width:1199.8px) {
    .megamenu__row .megamenu__col {
        // max-width: 50%;
        // flex: 0 0 50%;
    }

    .megamenu__imgboxtext p {
        font-size: 14px;
    }

    .megamenu__imgboxtext {
        padding: 0 25px 25px 25px;
    }








}

@media(max-width:991.8px) {
    .megamenu {
        position: relative;
        padding-top: 0;
        top: 0;
    }

    .megamenu.show {
        display: block !important;
    }

    .megamenu__rightside {
        display: none;
    }

    .megamenu__leftside {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .megamenu__wrapper {
        max-height: initial;
        background: transparent;
        padding-left: 0;
        padding-right: 0;
        overflow: initial;
    }

    header.header .header__nav ul.header__menu>li .megamenu__list li a {
        font-size: 16px;
        color: #fff;
        opacity: 0.6;
        font-weight: 400;
    }

    .megamenu__listtitle {
        color: #fff;
        opacity: 0.9;
    }

    .megamenu__buttonsect a {
        border: 2px solid #fff;
        color: #fff;

        &:hover {
            color: #000;
        }
    }

    .megamenu {
        visibility: visible;
        opacity: 1;
        z-index: 11;
        display: none;
    }

    .sublink .megamenu.show {
        display: block;
    }

}

@media(max-width:767.8px) {

    .megamenu__row .megamenu__col {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .megamenu__wrapper {
        padding: 30px 0;
    }

    header.header .header__nav ul.header__menu>li .megamenu__buttonsect a {
        font-size: 21px;
    }

    

}

@media(max-width:575.8px){
    .megamenu__listtitle {
        font-weight: 600;
    }

    .megamenu__wrapper {
        margin-left: -15px;
        margin-right: -15px;
    }

    .megamenu__row .megamenu__col {
        max-width: 100%;
        flex: 0 0 100%;
    }

    header.header .header__nav ul.header__menu>li .megamenu__list li {
        margin-bottom: 15px;
        display: block;
        font-size: 14px;
        line-height: normal;

        a {
            font-size: 14px;
        }
    
    }

    .megamenu__list {
        margin-bottom: 20px;
    }

    header.header .header__nav ul.header__menu>li .megamenu__buttonsect a {
        font-size: 16px;
        font-weight: 500;
    }

    .megamenu__buttonsect {
        margin-top: 15px;
    }

}











// font-family: 'Montserrat', sans-serif;