@media(max-width:1700.8px) {
    .service-whatwedo .devservices:after {
        bottom: -160px;
        right: -20px;
    }

    .service-whatwedo .devservices .badgelink {
        bottom: -140px;
        right: -20px;
    }

}

@media(max-width:1600.8px) {

    .service-welcomesection .service-welcomesection__descr {
        margin-bottom: 50px;
    }

    .service-welcomesection .service-welcomesection__descr {
        max-width: 440px;
    }

    .service-welcomesection .service-welcomesection__link {
        min-height: 60px;
    }

    .service-welcomesection h1 {
        margin-bottom: 40px;
    }

    .service-welcomesection .service-welcomesection__ratedsection {
        margin-top: 120px;
    }

    .service-welcomesection .service-welcomesection__ratedsection {
        max-width: 1100px;
    }

    .service-welcomesection .ratedbox .descr {
        font-size: 14px;
        line-height: 160%;
    }

    .service-welcomesection .ratedbox img {
        margin-bottom: 30px;
    }

    .service-welcomesection .service-welcomesection__ratedsection {
        padding: 45px 20px;
    }

    .service-welcomesection .ratedbox {
        max-width: 170px;
    }

    .service-benefits .benefitssection .benefit {
        max-width: 580px;
    }

    .service-benefits .benefitssection .benefit img {
        max-width: 70px;
        margin-bottom: 20px;
    }

    .service-benefits .benefitssection .benefit .descr {
        font-size: 16px;
        line-height: 180%;
    }

    .service-benefits .benefitssection .benefit {
        padding: 40px 50px;
    }

    .service-whatwedo h3 {
        margin-bottom: 40px;
    }

    .service-whatwedo .devservices .devservice {
        margin-top: 50px;
    }

    .service-whatwedo .devservices .devservice img {
        margin-bottom: 20px;
        height: 50px;
    }

    .service-whatwedo .devservices .devservice .title {
        margin-bottom: 20px;
    }

    .service-whatwedo .devservices:after {
        width: 300px;
        height: 160px;
    }

    .service-whatwedo .devservices:after {
        bottom: -110px;
        right: 20px;
    }

    .servoperateslider__box .num {
        font-size: 90px;
    }

    .servoperatesl-wrapper .linepoints {
        top: 53px;
    }

    .servoperatesl-wrapper .linepoints {
        width: calc(100% - 200px);
    }

    .servoperateslider__box {
        padding: 0 5px;
    }

    .servoperatesl-wrapper .linepoints span:nth-child(6)
    {
        display: none;
    }

    

    .servoperatesl-wrapper .linepoints {
        width: calc(100% - 240px);

        &::after {
            width: calc(100% - 12px);
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }

    .servoperateslider__box .descr {
        font-size: 14px;
    }

    .service-workin .workinslider__slide:after {
        width: 80%;
    }

    .service-workin .workinslider .slick-track {
        padding-bottom: 200px;
    }

    .service-workin .workinslider__slide p {
        font-size: 21px;
        bottom: 25px;
    }

    .service-workin .techstack .serviserow__rightsect {
        padding-top: 60px;
    }

    .service-ourworks {
        padding: 100px 0 0 0;
    }

    .service-ourworks h3 {
        margin-bottom: 80px;
    }

    .service-ourworks .worksect .worksect-container {
        max-width: 100%;
        padding: 0 120px;
    }

    .service-ourworks .worksect-container .worksect__textbox .title {
        font-size: 46px;
        margin-bottom: 30px;
    }

    .service-ourworks .worksect-container .worksect__textbox .descr {
        line-height: 180%;
        margin-bottom: 40px;
    }

    .service-ourworks .worksect-container .worksect__textbox ul li {
        font-size: 16px;
    }

    .service-ourworks .worksect-container .worksect__picbox img {
        max-width: calc(100% - 100px);
    }

    .service-ourworks .worksect-container .worksect__picbox {
        text-align: right;
    }

    .service-ourworks .worksect {
        padding: 70px 0 60px;
    }

    .service-ourworks .worksect-container .worksect__textbox .textboxwrap {
        max-width: 500px;
    }

    .section-subtitle {
        margin-bottom: 16px;
    }

    .service-faq .service-faqrow .service-faqrow__header {
        height: 80px;
    }

    .service-faq .service-faqrow .service-faqrow__header .faqbtn {
        width: 54px;
        height: 54px;
    }

    .service-faq .service-faqrow .service-faqrow__header p {
        font-size: 16px;
    }

    .service-faq .service-faqrow .service-faqrow__header .faqbtn span {
        width: 30px;
    }

    .service-faq .service-faqrow .service-faqrow__header {
        padding: 10px 75px 10px 25px;
    }

    .service-faq .service-faqrow .service-faqrow__header .faqbtn {
        right: 15px;
    }

    .service-faq .service-faqrow .service-faqrow__body p {
        font-size: 16px;
    }

    .service-whatwedo .devservices .badgelink {
        width: 300px;
        height: 160px;
        bottom: -80px;
        right: 10px;
    }








    .service-welcomesection h1 {
        font-size: 60px;
    }

    .service-benefits h3,
    .service-whatwedo h3,
    .service-operate h3,
    .service-workin h3,
    .service-ourworks h3,
    
    .service-benefits h2,
    .service-whatwedo h2,
    .service-operate h2,
    .service-workin h2,
    .service-ourworks h2{
        font-size: 54px;
    }

    .service-faq h3, .service-faq h2 {
        font-size: 46px;
    }

    .service-benefits .benefitssection .benefit .title {
        font-size: 21px;
        margin-bottom: 15px;
    }

    .service-welcomesection .service-welcomesection__descr,
    .service-welcomesection .ratedbox .title,
    .service-benefits .section-subtitle,
    .section-subtitle {
        font-size: 16px;
    }


    .service-welcomesection,
    .service-benefits,
    .service-operate,
    .service-workin,
    .service-faq {
        padding: 100px 0 120px;
    }

    .service-whatwedo {
        padding: 100px 0 240px;
    }
}

@media(max-width:1400.8px) {

    .service-benefits .benefitssection .benefit img {
        max-width: 50px;
        margin-bottom: 15px;
    }

    .service-benefits .benefitssection .benefit {
        padding: 30px;
    }

    .service-whatwedo .devservices .devservice {
        padding: 0 30px;
    }

    .service-workin .workinslider__slide p {
        font-size: 18px;
        bottom: 20px;
    }

    .service-workin .techstack .techstack__box {
        width: 240px;
        height: 240px;
    }

    .service-workin .techstack .serviserow__rightsect {
        max-width: 480px;
    }

    .service-workin .techstack .serviserow__leftsect {
        max-width: calc(100% - 480px);
        flex: 0 0 calc(100% - 480px);
    }

    .service-ourworks .worksect-container .worksect__textbox .title {
        font-size: 42px;
        margin-bottom: 20px;
    }

    .service-ourworks .worksect-container .worksect__textbox .descr {
        font-size: 16px;
    }

    .service-ourworks .worksect-container .worksect__textbox .textboxwrap {
        max-width: 400px;
    }









    .service-welcomesection h1 {
        font-size: 48px;
    }

    .service-benefits h3,
    .service-operate h3,
    .service-ourworks h3,
    .service-whatwedo h3,
    .service-workin h3,
    .service-benefits h2,
    .service-operate h2,
    .service-ourworks h2,
    .service-whatwedo h2,
    .service-workin h2 {
        font-size: 46px;
    }

}

@media(max-width:1199.8px) {
    .servoperatesl-wrapper .linepoints span:nth-child(5) {
        display: none;
    }

    .servoperatesl-wrapper .linepoints {
        width: calc(100% - 180px);
    }

    .servoperateslider__box {
        padding: 0 10px;
    }

    .service-faq h3 {
        font-size: 42px;
    }

    .servoperatesl-wrapper .linepoints span:nth-child(7)
    {
        display: none;
    }






}

@media(max-width:1024.8px) {


    header.header .header__nav ul.header__menu>li .submenu {
        opacity: 1;
        z-index: 3;
        visibility: visible;
        transform: translate(-50%, 0);
        display: none;
    }
}

@media(max-width:991.8px) {
    .service-faq h3 {
        margin-bottom: 30px;
        font-size: 38px;
    }

    .service-container {
        padding-left: 80px;
        padding-right: 80px;
    }

    .service-welcomesection h1 {
        font-size: 42px;
        margin-bottom: 30px;
    }

    .service-welcomesection .service-welcomesection__descr {
        margin-bottom: 30px;
    }

    .service-welcomesection .service-welcomesection__ratedsection {
        margin-top: 80px;
    }

    .service-welcomesection .service-welcomesection__ratedsection {
        padding: 35px 20px;
    }

    .service-welcomesection .ratedbox img {
        height: 35px;
    }

    .service-welcomesection .ratedbox .title {
        margin-bottom: 10px;
    }

    .service-welcomesection .ratedbox img {
        margin-bottom: 20px;
    }

    .service-welcomesection .ratedbox:after {
        height: 130px;
    }

    .service-benefits .service__col-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .service-benefits h3 {
        margin-bottom: 40px;
    }

    .service-benefits .benefitssection .benefit {
        max-width: 100%;
    }

    .service-whatwedo .devservices .devservice {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 15px;
    }

    .service-whatwedo .devservices:after {
        bottom: -90px;
        right: -20px;
    }

    .service-welcomesection,
    .service-benefits {
        background: #0F0F10;
    }

    .service-workin .techstack .techstack__box img {
        width: 70px;
    }

    .service-workin .techstack .techstack__box p {
        font-size: 16px;
    }

    .service-workin .techstack .techstack__box {
        padding-top: 40px;
    }

    .service-ourworks .worksect-container .worksect__picbox img {
        max-width: 400px;
        margin: 0 auto;
        margin-left: 25px;
    }

    .service-ourworks .worksect .worksect-container {
        padding: 0 80px;
    }

    .service-ourworks .worksect-container .worksect__textbox .title {
        font-size: 30px;
    }

    .service-ourworks .worksect-container .worksect__textbox .descr {
        line-height: 160%;
    }

    .service-ourworks .worksect-container .worksect__picbox {
        text-align: center;
    }

    .service-ourworks .worksect-container .worksect__textbox,
    .service-ourworks .worksect-container .worksect__picbox {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .service-ourworks .worksect-container .worksect__textbox .textboxwrap {
        margin: 0 auto;
        text-align: center;
    }

    .service-ourworks .worksect-container .worksect__textbox {
        text-align: center;
        margin-bottom: 30px;
    }

    .service-ourworks .worksect {
        padding: 50px 0 50px;
    }

    .service-ourworks .cases-wrapper .worksect:nth-child(2n) .worksect-container .worksect__textbox,
    .service-ourworks .cases-wrapper .worksect:nth-child(2n) .worksect-container .worksect__textbox .textboxwrap {
        text-align: center;
    }

    .service-faq .service__col-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .service-benefits h3 {
        text-align: center;

        br {
            display: none;
        }
    }

    .service-benefits .section-subtitle {
        text-align: center;
    }

    .service-workin h3,
    .service-workin h2 {
        margin-bottom: 50px;
    }

    .service-workin .workinslider__slide:after {
        display: none;
    }

    .service-benefits .service-benefits__titles {
        position: relative;
        top: initial;
    }

    .service-whatwedo .devservices:after {
        width: 240px;
        height: 140px;
    }

    .service-whatwedo .devservices:after {
        bottom: -40px;
    }

    .servoperatesl-wrapper .linepoints span:nth-child(4) {
        display: none;
    }

    .service-workin .techstack .techstack__box {
        width: 180px;
        height: 180px;
    }

    .service-workin .techstack .serviserow__rightsect {
        max-width: 360px;
    }

    .service-workin .techstack .serviserow__leftsect {
        max-width: calc(100% - 360px);
        flex: 0 0 calc(100% - 360px);
    }

    .service-workin .workinslider .slick-track {
        padding-bottom: 120px;
    }

    .omis-header.omis-header_black .omis-header-toggle.main-heaer-inner-show-xs {
        filter: invert(0);
    }

    header.header .header__chat a:after,
    header.header .header__nav ul.header__menu>li:after {
        display: none;
    }

    header.header .header__logo,
    header.header .header__chat {
        width: 100%;
        max-width: 140px;
        flex: 0 0 140px;
    }

    header.header .header__nav {
        width: 100%;
        max-width: calc(100% - 280px);
        flex: 0 0 calc(100% - 280px);
    }

    header.header .header__nav ul.header__menu>li .submenu {
        padding: 20px 15px;
        top: 80px;
    }

    header.header .header__nav ul.header__menu>li .submenu li a {
        min-height: 60px;
    }

    header.header .header__nav ul.header__menu>li .submenu li a img {
        margin-right: 15px;
    }

    .service-whatwedo .devservices .badgelink {
        width: 200px;
        height: 110px;
        bottom: 0;
        right: 10px;
        max-width: 100%;
        max-height: 100%;
    }







    .service-benefits,
    .service-faq,
    .service-operate,
    .service-welcomesection,
    .service-workin {
        padding: 70px 0 80px;
    }

    .service-whatwedo {
        padding: 70px 0 80px;
    }

    .service-ourworks {
        padding-top: 70px;
    }

    .service-benefits h3,
    .service-operate h3,
    .service-ourworks h3,
    .service-whatwedo h3,
    .service-workin h3 {
        font-size: 38px;
    }
    .service-benefits h2,
    .service-operate h2,
    .service-ourworks h2,
    .service-whatwedo h2,
    .service-workin h2 {
        font-size: 38px;
    }


    .service-whatwedo:after,
    .service-benefits:after,
    .service-welcomesection:after {
        background-image: url(../images/grain1.png), url(../images/grid.png);
        background-size: auto;
        background-position: left top - 3px;
        background-repeat: repeat, no-repeat;
    }

    .service-whatwedo:before,
    .service-benefits:before {
        display: none;
    }

}
@media(max-width:768.8px) {
    .servoperatesl-wrapper .linepoints span:nth-child(3) {
        display: none;
    }
}
@media(max-width:767.8px) {

    .service-welcomesection .service-welcomesection__ratedsection {
        flex-wrap: wrap;

        a {
            width: 50%;
            margin-bottom: 30px;

            &:nth-child(2) {
                .ratedbox {
                    &::after {
                        display: none;
                    }
                }
            }

            &:nth-child(1),
            &:nth-child(2) {
                &::before {
                    content: '';
                    display: block;
                    width: 104px;
                    height: 2px;
                    background: url('../images/horline.png') no-repeat center top;
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
        }
    }

    .service-welcomesection .ratedbox:after {
        height: 104px;
        top: 50%;
        transform: translateY(-50%);
    }

    .service-whatwedo .devservices .devservice {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .service-whatwedo .devservices:after {
        position: relative;
        right: 0;
        margin: 0 auto;
    }

    .servoperatesl-wrapper .linepoints span:nth-child(3) {
        display: none;
    }

    .service-workin .techstack .serviserow__leftsect {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .service-workin .techstack .serviserow__rightsect {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .service-workin .techstack .serviserow__rightsect {
        .techstack__col:nth-child(1) {
            max-width: 33.333%;
            flex: 0 0 33.333%;
        }

        .techstack__col:nth-child(2) {
            max-width: 66.666%;
            flex: 0 0 66.666%;

            .techstack__box {
                width: 50%;
            }
        }
    }

    .service-workin .techstack .techstack__box {
        height: 150px;
    }

    .service-workin .techstack .techstack__box img {
        width: 60px;
    }

    .service-workin .techstack .techstack__box {
        padding-top: 25px;
        padding-bottom: 20px;
    }


    .service-workin .techstack .serviserow__rightsect {
        padding-top: 0;
    }

    header.header .header__chat {
        display: none;
    }

    header.header .header__nav {
        display: none;
    }

    .header__burger {
        display: inline-block;
        width: 22px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        align-items: flex-end;

        span {
            background: #fff;
            display: inline-block;
            height: 2px;
            width: 100%;
            transition: 0.5s;

            &:nth-child(2) {
                width: 60%;
            }
        }

        &.open {
            span {
                &:nth-child(2) {
                    opacity: 0;
                    transform: translateX(10px);
                }

                &:nth-child(1) {
                    transform: rotate(45deg) translate(6px, 5px);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(6px, -5px);
                }
            }
        }
    }

    header.header {
        justify-content: space-between;
    }

    header.header .header__nav {
        display: none;
        position: fixed;
        left: 0;
        top: 96px;
        width: 100%;
        max-width: 100%;
        height: calc(100vh - 96px);
        background: #000;
    }

    header.header .header__nav.show {
        display: block;
    }

    header.header .header__nav ul.header__menu>li {
        display: block;
        font-weight: 700;
        font-size: 28px;
        line-height: 110%;
        margin: 0 0 40px 0;
        padding: 0 40px;

        a {
            font-weight: 700;
            font-size: 28px;
            line-height: 110%;
        }
    }

    .mobletschat {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 327px;
        min-height: 52px;
        background: #C9FA3D;
        color: #0F0F10;
        letter-spacing: 0.05em;
        font-weight: 700;
        font-size: 16px;
        line-height: 147%;

        img {
            margin-left: 8px;
            vertical-align: middle;
            margin-bottom: -3px;
        }
    }

    .menuwrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 100px 0;
        overflow: scroll;
    }

    header.header .header__nav ul.header__menu>li .submenu:after {
        display: none;
    }

    header.header .header__nav ul.header__menu {
        width: 100%;
    }

    header.header .header__nav ul.header__menu>li {
        text-align: left;
    }

    header.header .header__nav ul.header__menu>li.sublink .submenu {
        padding: 0;
    }

    header.header .header__nav ul.header__menu>li .submenu {
        position: relative;
        top: 0;
        width: 100%;
        background: transparent;
        margin-top: 30px;
        display: none;
    }

    header.header .header__nav ul.header__menu>li .submenu li a {
        background: transparent;
        padding: 0;
        color: rgba(#fff, 0.6);
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
    }

    .service-whatwedo .devservices .badgelink {
        position: relative;
        right: 0;
        margin: 30px auto 0;
        display: block;
    }










}

@media(max-width:575.8px) {
    .service-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .service-welcomesection h1 {
        font-size: 32px;
        line-height: 120%;
        margin-bottom: 16px;
    }

    .service-welcomesection {
        padding: 40px 0;
    }

    .service-welcomesection .service-welcomesection__descr {
        line-height: 160%;
        font-size: 14px;
        margin-bottom: 24px;
    }

    .service-welcomesection .service-welcomesection__link {
        width: 100%;
        max-width: 400px;
        min-height: 56px;
        font-size: 14px;
    }

    .service-welcomesection .service-welcomesection__ratedsection {
        margin-top: 40px;
    }

    .service-welcomesection .ratedbox .descr {
        font-size: 12px;
        line-height: 150%;
    }

    .service-welcomesection .ratedbox {
        max-width: 144px;
        padding: 0 5px;
    }

    .service-welcomesection .service-welcomesection__ratedsection {
        padding: 32px 15px;
    }

    .service-welcomesection .service-welcomesection__ratedsection a {

        &:nth-child(3),
        &:nth-child(4) {
            margin-bottom: 0;
        }
    }


    .service-benefits h3 {
        margin-bottom: 32px;
    }

    .service-benefits .benefitssection .benefit {
        margin-bottom: 15px;
        padding: 24px 15px 35px;
        border: 1px solid rgba(#DBFF74, 0.5);
    }

    .service-benefits .benefitssection .benefit img {
        max-width: 48px;
    }

    .service-benefits .benefitssection .benefit .title {
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 130%;
    }

    .service-benefits .benefitssection .benefit .descr {
        font-size: 14px;
        line-height: 160%;
    }

    .service-whatwedo .devservices .devservice {
        margin-top: 32px;
    }

    .service-whatwedo h3 {
        margin-bottom: 16px;
    }

    .service-whatwedo .devservices .devservice img {
        height: 48px;
        margin-bottom: 12px;
    }

    .service-whatwedo .devservices .devservice .title {
        font-size: 16px;
    }

    .service-whatwedo .devservices .devservice .descr {
        line-height: 160%;
    }

    .service-whatwedo .devservices:after {
        bottom: 0;
        margin-top: 48px;
    }

    .service-whatwedo .devservices:after {
        transform: rotate(5.64deg);
    }

    .servoperateslider__box .num {
        text-align: left;
        font-size: 104px;
        line-height: 130%;
    }

    .servoperateslider__box .title {
        text-align: left;
        margin-bottom: 8px;
        font-size: 16px;
    }

    .servoperateslider__box .descr {
        line-height: 160%;
    }

    .servoperatesl-wrapper .linepoints {
        width: calc(100% - 140px);
        left: initial;
        right: 80px;
        top: 58px;
    }

    .servoperateslider__box {
        max-width: initial;
    }

    .service-operate,
    .service-workin {
        .service-container {
            padding-right: 0;
        }

        .section-subtitle,
        h3 {
            padding-right: 15px;
        }
    }

    .service-workin h3,
    .service-workin h2 {
        margin-bottom: 48px;
    }

    .service-workin .workinslider__slide p {
        font-size: 16px;
        bottom: 30px;
    }

    .service-workin .workinslider .slick-track {
        padding-bottom: 80px;
    }

    .service-workin .techstack .serviserow__leftsect .section-subtitle {
        margin-bottom: 8px;
    }

    .techstack .serviserow {
        margin-right: 0;
        margin-left: 0;
    }

    .service-workin .techstack .serviserow__leftsect,
    .service-workin .techstack .serviserow__rightsect {
        padding-left: 0;
    }

    .service-workin .techstack .serviserow__rightsect {
        padding-right: 24px;
    }

    .service-workin .techstack .techstack__box p {
        font-size: 14px;
    }

    .service-workin .techstack .techstack__box {
        padding: 15px 10px 10px 10px;
    }

    .service-workin .techstack .techstack__box img {
        width: 48px;
    }

    .service-workin .techstack .techstack__box {
        height: 105px;
    }

    .service-ourworks br {
        display: none;
    }

    .service-ourworks h3 {
        margin-bottom: 48px;
    }

    .service-ourworks .worksect {
        padding: 32px 0 12px;
    }

    .service-ourworks .worksect .worksect-container {
        padding: 0 24px;
    }

    .service-ourworks .worksect-container .worksect__textbox .textboxwrap {
        text-align: left;
    }

    .service-ourworks .worksect-container .worksect__textbox .title {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 135%;
    }

    .service-whatwedo .devservices .devservice {
        padding: 0;
    }

    .service-ourworks .worksect-container .worksect__textbox .descr {
        font-size: 14px;
        line-height: 200%;
        margin-bottom: 32px;
    }

    .service-ourworks .worksect-container .worksect__textbox ul li {
        font-size: 12px;
        margin-right: 16px;
    }

    .service-ourworks .worksect-container .worksect__textbox ul li:after {
        right: -13px;
    }

    .service-ourworks .worksect-container .worksect__picbox img {
        display: none;
    }

    .service-ourworks .worksect-container .worksect__picbox img.mobpic {
        display: block;
        max-width: 270px;
    }

    .service-ourworks .worksect-container .worksect__picbox img {
        margin-left: 0;
    }

    .service-ourworks .cases-wrapper .worksect:nth-child(2n) .worksect-container .worksect__textbox .textboxwrap {
        text-align: left;
    }

    .service-faq .service-faqrow .service-faqrow__header p {
        font-size: 14px;
    }

    .service-faq .service-faqrow .service-faqrow__header {
        padding-left: 16px;
        padding-right: 55px;
    }

    .service-faq .service-faqrow .service-faqrow__header {
        height: auto;
        min-height: 68px;
    }

    .service-faq .service-faqrow .service-faqrow__header .faqbtn {
        width: 32px;
        height: 32px;
    }

    .service-faq .service-faqrow .service-faqrow__body p {
        font-size: 14px;
    }

    .service-faq .service-faqrow .service-faqrow__body {
        padding: 8px 16px 20px 16px;
    }

    header.header .header__nav ul.header__menu>li .submenu li a {
        font-size: 14px;
    }

    .menuwrapper {
        padding: 50px 0;
    }

    header.header {
        padding: 0 24px;
    }

    header.header .header__nav ul.header__menu>li {
        padding: 0 24px;
    }












    // background: #0F0F10;




    .service-benefits:after,
    .service-welcomesection:after,
    .service-whatwedo:after,
    .service-operate:after,
    .service-workin:after,
    .service-ourworks:after {
        display: none;
    }

    .service-benefits,
    .service-faq,
    .service-operate,
    .service-welcomesection,
    .service-workin,
    .service-whatwedo {
        padding: 40px 0;
    }

    .service-ourworks {
        padding-top: 40px;
    }

    .service-benefits h3,
    .service-operate h3,
    .service-ourworks h3,
    .service-whatwedo h3,
    .service-workin h3,
    .service-faq h3 {
        text-align: left;
        font-size: 32px;
    }

    .service-benefits h2,
    .service-operate h2,
    .service-ourworks h2,
    .service-whatwedo h2,
    .service-workin h2,
    .service-faq h2 {
        text-align: left;
        font-size: 32px;
    }

    .service-benefits .section-subtitle,
    .service-whatwedo .section-subtitle,
    .service-operate .section-subtitle,
    .service-workin .section-subtitle,
    .section-subtitle,
    .service-ourworks .section-subtitle {
        font-size: 12px;
        line-height: 130%;
        text-align: left;
        margin-bottom: 8px;
    }









}


@media(max-width:480.8px) {
    .servoperatesl-wrapper .linepoints {
        width: calc(100% - 110px);
        right: 50px;
    }
}

@media(max-width:375.8px) {
    .servoperatesl-wrapper .linepoints {
        width: calc(100% - 100px);
        right: 40px;
    }
}




// 07.03
@media(max-width:1700.8px) {
    .service-whatwedo .devservices .badgelink {
        bottom: -230px;
    }
}

@media(max-width:991.8px) {
    .service-whatwedo .devservices .badgelink {
        bottom: 0;
        position: relative;
        margin: 30px auto 0;
    }
}