@import "general";
@import "header";
@import "service";
@import "footer";
@import "error";

@import "responsive";

@import "newsect";

@import "blog";
@import "post";

@import "faq";
@import "aboutus";

@import "lateststories";
@import "mainnew";

@import "about-new";