.styles_black__3a6Tx,
.styles_gray__2tQCa,
.styles_page__1OBf- {
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    width: 100%
}

.styles_gray__2tQCa {
    background: #f7f7f7
}

.styles_black__3a6Tx {
    background: var(--black)
}

.styles_pageContainer__3_MtJ {
    width: 1137px;
    position: relative;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center
}

@media screen and (max-width:1250px) {
    .styles_pageContainer__3_MtJ {
        width: 100%;
        margin: 0 60px
    }
}

@media screen and (max-width:850px) {
    .styles_pageContainer__3_MtJ {
        margin: 0 40px
    }
}

@media screen and (max-width:420px) {
    .styles_pageContainer__3_MtJ {
        width: 100%;
        margin: 0 25px
    }
}

.styles_icon__14veA {
    width: 48px;
    height: 48px;
    border: 1px solid #e7eaec !important;
    cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.styles_custrom_rigth_arrow_container__28oC9 {
    position: absolute;
    right: 100px;
    z-index: 1
}

.styles_custrom_rigth_arrow_container__28oC9 .styles_custom_right_arrow__3oT9Q {
    border: 1px solid #000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.styles_custrom_left_arrow_container__2BFNO {
    position: absolute;
    left: 100px;
    z-index: 1
}

.styles_custrom_left_arrow_container__2BFNO .styles_custom_left_arrow__2hFAv {
    border: 1px solid #000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg)
}

.styles_arrow_button_right__8cwgS {
    padding: 18px 22px 18px 18px
}

.styles_arrow_button_left__1sZvP,
.styles_arrow_button_right__8cwgS {
    background-color: #c9fa3d;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15)
}

.styles_arrow_button_left__1sZvP {
    padding: 18px 18px 18px 22px
}

@media screen and (max-width:450px) {
    .styles_mobile__27Rb4 {
        display: none
    }
}

.styles_stories_container__3AR9o {
    padding: 100px 0 200px;
    background-color: #191818
}

.styles_stories_container__3AR9o .styles_stories_head__2zMcK {
    padding: 0 120px;
    display: -moz-box;
    display: flex;
    -moz-box-align: end;
    align-items: flex-end;
    flex-wrap: wrap;
    color: #fff;
    margin-bottom: 60px
}

.styles_stories_container__3AR9o .styles_stories_head__2zMcK h1 {
    font-size: 62px;
    line-height: 71px;
    margin-right: 35px
}

.styles_stories_container__3AR9o .styles_stories_head__2zMcK h4 {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 5px;
    font-weight: 400;
    cursor: pointer
}

.styles_stories_container__3AR9o .styles_stories_head__2zMcK h4 span {
    padding-left: 12px
}

.styles_stories_container__3AR9o .styles_stories__12BwD {
    width: 100%
}

.styles_carousel_slider__2MGQ2 {
    margin: 0 120px;
    right: 0;
    -webkit-transition: all .6s !important;
    -moz-transition: all .6s !important;
    transition: all .6s !important
}

.styles_carousel_slider__2MGQ2 li {
    position: relative;
    padding-right: 16px
}

.styles_carousel_slider__2MGQ2 li:first-child {
    margin-left: 5px
}

.styles_carousel_slider__2MGQ2.styles_carousel_slider_ended__2zlfk {
    right: 255px
}

@media screen and (max-width:450px) {
    .styles_stories_container__3AR9o .styles_stories_head__2zMcK {
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -moz-box-align: start;
        align-items: flex-start;
        margin-bottom: 50px;
        padding: 0 24px
    }
    .styles_stories_container__3AR9o .styles_stories_head__2zMcK h1 {
        font-size: 32px !important;
        line-height: 35px !important;
        margin-right: 0 !important
    }
    .styles_stories_container__3AR9o .styles_stories_head__2zMcK h4 {
        font-size: 16px;
        line-height: 23.5px;
        padding-top: 5px
    }
    .styles_stories_container__3AR9o .styles_stories__12BwD {
        width: 100%
    }
    .styles_carousel_slider__2MGQ2 {
        margin: 0 24px;
        right: 0;
        -webkit-transition: all .6s !important;
        -moz-transition: all .6s !important;
        transition: all .6s !important
    }
    .styles_carousel_slider__2MGQ2.styles_carousel_slider_ended__2zlfk {
        right: 24px
    }
}

@font-face {
    font-family: Modernist;
    src: url(/_next/static/media/Sk-Modernist-Regular.e68f85ab30926114d85000538a0ee790.otf)
}

.styles_container__zNOCm {
    width: 100%;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: Modernist
}

.styles_backLink__2lEQg {
    display: inline-block;
    height: 20px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 23.52px;
    letter-spacing: .8px;
    font-weight: 700;
    color: var(--light-gray);
    cursor: pointer
}

.styles_backLink__2lEQg img {
    opacity: .5;
    margin-right: 12px
}

.styles_title__Fcrd- {
    text-align: start;
    margin-bottom: 56px;
    font-size: 52px;
    font-weight: 700;
    line-height: 62.4px
}

.styles_nameAndEstimation__xdyPH {
    margin-bottom: 16px;
    text-align: start;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: var(--light-gray)
}

.styles_tags__2LO5O {
    width: 100%;
    margin-bottom: 64px;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center
}

.styles_tags__item__nUhPp {
    margin-right: 31px;
    opacity: .7;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px
}

.styles_tags__item__nUhPp:last-child {
    margin-right: 0
}

.styles_cover__2Xx5W {
    margin-bottom: 24px;
    width: 100%;
    max-height: 534px;
    overflow: hidden;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center
}

.styles_cover__image__pE0Op {
    object-fit: cover;
    width: 100%
}

.styles_description__DKgC9 {
    margin-bottom: 88px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    opacity: .5
}

.styles_content__1PU0S {
    margin-bottom: 65px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

.styles_content__text__2BBOi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: var(--text)
}

.styles_content__text__2BBOi img {
    max-width: 100%
}

.styles_content__text__2BBOi>ul,
.styles_content__text__2BBOi ol {
    grid-column: 2/-1;
    margin-left: 1.3em
}

.styles_content__text__2BBOi h1,
.styles_content__text__2BBOi h2 {
    grid-column: 1/-1;
    max-width: 580px;
    margin: 56px 0;
    line-height: 54px
}

.styles_content__text__2BBOi h3 {
    grid-column: 2/-1;
    margin: 56px 0
}

.styles_content__text__2BBOi blockquote {
    color: var(--quote);
    border-left: 2px solid var(--quote);
    margin: 1em;
    padding-left: .6em
}

.styles_content__text__2BBOi hr {
    width: 1px;
    margin: 0 16px;
    justify-self: flex-end
}

.styles_content__text__2BBOi pre {
    padding: 1em 0 1.5em 1.4em
}

.styles_content__text__2BBOi p {
    grid-column: 2/-1;
    max-width: 650px
}

.styles_content__text__2BBOi a {
    color: var(--lime)
}

.styles_shareBlock__DJQnQ {
    width: 100%;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: start;
    align-items: flex-start
}

.styles_shareBlock__title__1CaNg {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    text-align: center
}

.styles_shareBlock__links__2KgE1 {
    margin-top: 24px;
    width: 200px;
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between
}

.styles_relatedStories__18ads {
    width: 100%;
    margin-top: 144px
}

.styles_relatedStories__title__qjrFu {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px
}

.styles_cardsContainer__zQvYP {
    padding: 32px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px
}

.styles_unavailable__3gd4V {
    text-align: center;
    margin-top: 134px;
    font-size: 36px;
    font-weight: 700
}

@media screen and (max-width:1080px) {
    .styles_cardsContainer__zQvYP {
        padding: 40px 0 0;
        grid-template-columns: repeat(2, 1fr)
    }
    .styles_tags__item__nUhPp {
        font-size: 22px
    }
    .styles_description__DKgC9 {
        font-size: 20px
    }
    .styles_cover__2Xx5W {
        margin-top: 36px;
        width: 100%
    }
    .styles_cover__image__pE0Op {
        object-fit: cover;
        width: 100%
    }
    .styles_relatedStories__18ads,
    .styles_shareBlock__DJQnQ {
        margin-top: 40px
    }
    .styles_content__text__2BBOi {
        max-width: 95%
    }
}

@media screen and (max-width:768px) {
    .styles_content__1PU0S {
        max-width: 600px
    }
}

@media screen and (max-width:700px) {
    .styles_cardsContainer__zQvYP {
        padding: 60px 40px 0;
        grid-template-columns: 1fr
    }
    .styles_nameAndEstimation__xdyPH {
        font-size: 16px
    }
    .styles_tags__2LO5O {
        margin-top: 0
    }
    .styles_tags__item__nUhPp {
        font-size: 16px
    }
    .styles_title__Fcrd- {
        font-size: 30px;
        line-height: 1.5
    }
    .styles_cover__2Xx5W {
        margin-top: 16px;
        width: 100%;
        background-color: red;
        max-height: 300px
    }
    .styles_cover__image__pE0Op {
        object-fit: cover;
        width: 100%
    }
    .styles_description__DKgC9 {
        font-size: 14px
    }
    .styles_content__1PU0S {
        margin-top: 20px
    }
    .styles_content__text__2BBOi {
        font-size: 18px;
        line-height: 1.6
    }
    .styles_content__text__2BBOi h1 {
        line-height: 1.3em
    }
}

@media screen and (max-width:420px) {
    .styles_cardsContainer__zQvYP {
        padding: 40px 0 0
    }
    .styles_relatedStories__title__qjrFu {
        font-size: 26px
    }
    .styles_content__text__2BBOi {
        max-width: 97%
    }
}

@media screen and (max-width:920px) {
    .styles_content__text__2BBOi {
        display: -moz-box;
        display: flex;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -moz-box-align: center;
        align-items: center
    }
}

@media(max-width:768px) {
    .styles_blog_holder__3RelM {
        padding-top: 55px
    }
}

.single-post .omis-header:not(.omis-header-front) {
	box-shadow: none;
}